@media (max-width: 1920px) {}

@media (max-width: 1560px) {}

@media (max-width: 1367px) {
    .container {
        padding: 0px 80px;
    }

    .header {
        padding: 22px 0px;
    }

    .sectionTop {
        margin-top: 79px;
    }

    .boxPaddings {
        padding: 45px 0px;
    }

    .boxPaddings2 {
        padding-top: 90px;
    }

    .boxPaddings3 {
        padding-bottom: 90px;
    }

    .solutionSecLeft .companyStats {
        margin-top: 45px;
    }

    .energySystemTop .energySystemLeft {
        padding-right: 25px;
    }

    .energySystemTop .energySystemRight {
        padding-left: 25px;
    }

    .customerTestimonial .row {
        margin-left: -40px;
        margin-right: -40px;
    }

    .customerTestimonial .col-sm-12 {
        padding-left: 40px;
        padding-right: 40px;
    }

    .customerBottomBox .customerTestimonial {
        padding: 0px 0px 40px;
    }

    .trackUpdatesBox .deliveryExpected {
        padding-right: 60px;
    }

    .navbar-expand-md .navbar-nav .nav-item {
        margin-right: 70px;
    }

    .fontSize24 {
        font-size: 21px;
    }

    .fontSize36 {
        font-size: 31px;
    }

    .equipmentsGalleryItem .cardOverlay .equipmentInfo {
        padding-right: 0;
    }

    .addedProductsListBox .addedProductRight {
        padding-left: 35px;
    }

    .productInfoChild .prodDetailBoxsSec .prodDetailBoxsRight {
        width: 35%;
    }

    .productInfoChild .prodDetailBoxsSec .prodDetailBoxsLeft {
        width: 65%;
        padding-right: 30px;
    }

    .requestBuyChild .col-sm-12:last-child {
        padding-left: 15px;
    }

    .homeBannerSlide {
        padding: 227px 100px;
    }

    .pageBanner,
    .pageBanner .slick-list,
    .pageBanner .slick-list .slick-track,
    .pageBanner .slick-list .slick-slide {
        min-height: 630px;
    }

    .knowMoreSectionBoxLeft {
        padding: 130px 80px 130px 80px;
    }

    .cewCollectionGrid .newCollectionItem {
        height: 260px;
    }

    .sectionHeads2 {
        margin-bottom: 30px;
    }

    .productVideoSec {
        height: 450px;
    }

    .ourTeamBox {
        height: 280px;
    }
}

@media (max-width: 1199px) {
    .container {
        padding: 0px 50px;
    }

    .navbar-expand-md .navbar-nav .nav-item {
        margin-right: 45px;
    }

    .fontSize48 {
        font-size: 42px;
    }

    .scrollToAbout {
        left: 50px;
    }

    .fontSize36 {
        font-size: 28px;
        line-height: 37px;
    }

    .homeBannerSlide {
        padding: 220px 100px;
    }

    .innovationRow .solutionSecLeft {
        width: 60%;
        padding-right: 30px;
    }

    .innovationRow .solutionSecRight {
        width: 40%;
    }

    .energySystemRight .row {
        margin-left: -30px;
        margin-right: -30px;
    }

    .energySystemRight .col-sm-6 {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 40px;
    }

    .customerTestimonial .row {
        margin-left: -30px;
        margin-right: -30px;
    }

    .customerTestimonial .col-sm-12 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footerMid .footerMidChild {
        flex-wrap: wrap;
    }

    .footerMid .footMidLeft,
    .footerMid .footMidRight {
        width: 100%;
    }

    .footeMenusTop {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .footerMid {
        padding: 40px 0px 32px;
    }

    .footerBottom {
        padding: 22px 0px;
    }

    .scrollTop a {
        padding: 10px 17px;
    }

    .trackingBanner {
        padding: 133px 0px 370px;
    }

    .fontSize18 {
        font-size: 16px;
        line-height: 22px;
    }

    .fontSize32 {
        font-size: 29px;
        line-height: 39px;
    }

    .trackSectionHeading h3 {
        margin-bottom: 14px;
    }

    .shipmentCardImage {
        height: 240px;
        min-height: 240px;
        margin-bottom: 20px;
    }

    .shipmentCardDetails {
        padding: 15px 15px;
    }

    .fontSize16 {
        font-size: 15px;
    }

    .deliverySolRight {
        padding: 30px 30px;
    }

    .deliverySolRight .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .deliverySolRight .col-sm-12 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .btnStyle {
        font-size: 15px;
        line-height: 18px;
    }

    .footerLogo a {
        width: 220px;
    }

    .btnIcon {
        padding-left: 8px;
    }

    .btnIcon svg {
        height: 20px;
        width: 20px;
    }

    .orderDetailsHeadTop {
        margin-bottom: 28px;
    }

    .boxPaddings {
        padding: 40px 0px;
    }

    .boxPaddings2 {
        padding-top: 80px;
    }

    .boxPaddings3 {
        padding-bottom: 80px;
    }

    .boxPaddings4 {
        padding: 35px 0px;
    }

    .receiptNumberinfo span {
        display: block;
        width: 100%;
        margin-bottom: 8px;
    }

    .footerBox {
        padding-top: 160px;
    }

    .contactPage {
        height: 616px;
    }

    .formDesign.formDesign2 label {
        margin-bottom: 16px;
        font-size: 15px;
    }

    .formDesign .form-control {
        font-size: 15px;
        /* line-height: 17px; */
    }

    .trackGraphSet:nth-child(even) .trackStatusInfo {
        top: -50px;
    }

    .equipmentsGalleryItem img {
        /* height: 270px; */
    }

    .equipmentCards .equipmentsGalleryItem {
        height: 260px;
    }

    .equipmentsGalleryItem .cardOverlay .equipmentName {
        font-size: 18px;
    }

    .equipmentsGalleryItem .cardOverlay {
        padding: 13px 18px;
    }

    .equipmentsGalleryItem:hover .cardOverlay {
        padding: 30px 18px;
    }

    .showMoreEquipments {
        margin-top: 30px;
    }

    .addedProductSlider.slick-initialized .slick-slide {
        height: 230px;
    }

    .addedProductSlider .slick-prev,
    .addedProductSlider .slick-next {
        height: 30px;
        width: 30px;
    }

    .addedProductsListBox .addedProductLeft {
        padding: 0px 45px;
    }

    .addedProductSlider .slick-next {
        right: -45px;
    }

    .addedProductSlider .slick-prev {
        left: -45px;
    }

    .pageBanner,
    .pageBanner .slick-list,
    .pageBanner .slick-list .slick-track,
    .pageBanner .slick-list .slick-slide {
        min-height: 610px;
    }

    .innovationChild .innovationSecLeft {
        padding: 0;
        width: 30%;
        min-width: 35%;
    }

    .innovationChild .innovationSecRight {
        padding-left: 40px;
    }

    .makingTomorrowTop .tomorrowTopRight {
        padding-left: 40px;
    }

    .weFollowChild .weFollowBoxs {
        margin-top: 30px;
    }

    .ourCustomersLogos {
        width: 42%;
        min-width: 42%;
        margin-left: 40px;
    }

    .knowMoreSectionBoxLeft {
        padding: 100px 50px 100px 50px;
    }

    .productVideoSec {
        height: 400px;
    }

    .getInTouchBox {
        padding: 140px 0px;
    }

    .newCollectionHover {
        padding: 20px 14px;
    }

    .productsGalleryBox .productGalleryImage {
        height: 240px;
    }

}

@media (max-width: 991px) {

    /* Sidebar Start */
    .navbar-expand-md .navbar-collapse {
        display: none;
        position: fixed;
        background: var(--colorWhite);
        width: 100%;
        left: -100%;
        /* right: 0; */
        top: 63px;
        height: calc(100vh - 63px);
        align-items: flex-start;
        justify-content: center;
        padding: 30px 20px 50px;
        width: 200px;
        transition: left 0.5s ease;
    }

    .navbar-expand-md .navbar-nav .nav-item {
        margin-right: 0px;
        margin-bottom: 14px;
    }

    .navbar-expand-md .navbar-nav,
    .navbar-expand-md .navbar-nav .nav-item {
        width: 100%;
    }

    /* .navbar-expand-md .navbar-collapse.showBox {
        top: -100%;
    } */

    .navbar-expand-md .navbar-collapse.show {
        /* top: 63px; */
        left: 0;
        transition: left 0.5s ease;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: 0px 5px 3px -4px rgb(0 0 0 / 30%);
    }

    /* .navbar-expand-md .navbar-collapse.showBox {
        top: -100%;
    } */

    .headerRight {
        width: auto;
    }

    .navbar-expand-md .navbar-nav .nav-link,
    .navbar-nav .nav-link {
        margin-right: 0px;
        /* margin-bottom: 20px; */
    }

    .navbar-expand-md .navbar-nav {
        flex-direction: column;
    }

    /* Sidebar End */

    .container {
        padding: 0 30px;
    }

    .navbar-expand-md .navbar-toggler {
        display: inline-block;
        padding: 0;
    }

    .header {
        padding: 14px 0px;
    }

    .sectionTop {
        margin-top: 63px;
    }

    .navbar {
        align-items: center;
        justify-content: space-between;
    }

    .homeBannerSlider .slick-prev,
    .homeBannerSlider .slick-next {
        height: 30px;
        width: 30px;
    }

    .homeBannerSlider .slick-prev {
        left: 30px;
    }

    .homeBannerSlider .slick-next {
        right: 30px;
    }

    .homeBannerSlide {
        padding: 190px 70px;
    }

    .btnStyle {
        font-size: 14px;
        line-height: 17px;
    }

    .fontSize48 {
        font-size: 38px;
    }

    .scrollToAbout {
        left: 30px;
        bottom: 25px;
    }

    .boxPaddings {
        padding: 30px 0px;
    }

    .boxPaddings2 {
        padding-top: 60px;
    }

    .boxPaddings3 {
        padding-bottom: 60px;
    }

    .ourProductsSec {
        padding: 30px 20px;
    }

    .ourProductsSec br {
        display: none;
    }

    .dealWithSection2 .sectionHeads {
        padding-top: 0;
    }

    .dealWithSectionChild {
        height: 490px;
    }

    .energySystemRight .row,
    .customerTestimonial .row {
        margin-left: -20px;
        margin-right: -20px;
    }

    .energySystemRight .col-sm-6,
    .customerTestimonial .col-sm-12 {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;
    }

    .companyStatsRow .statsInnerBox {
        width: 32%;
    }

    .companyStatsRow .statsInnerBox {
        width: 32%;
        margin-bottom: 16px;
    }

    .companyStatsRow .statsInnerBox:nth-last-child(-n+2) {
        margin-bottom: 0px;
    }

    .solutionSecLeft .companyStats {
        margin-top: 30px;
    }

    .statsInnerBox h3 {
        margin-bottom: 5px;
    }

    .fontSize36 {
        line-height: 34px;
    }

    .fontSize16 {
        line-height: 20px;
    }

    .equipmentsGalleryItem .cardOverlay .equipmentName {
        font-size: 17px;
    }

    .testimonialContent {
        margin-bottom: 25px;
    }

    .footTopRight {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 30px 0px;
    }

    .sendRequirements {
        margin-left: 0;
        margin-top: 25px;
    }

    .footerTopChild .col-sm-5,
    .footerTopChild .col-sm-7 {
        width: 50%;
    }

    .footBannerimg {
        margin-top: -30px;
        margin-left: -30px;
    }

    .footerBox {
        padding-top: 100px;
    }

    .customerMidBox {
        margin: 40px 0px 70px;
    }

    .energySystemBottom .row,
    .shipmentComponentBoxs .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .energySystemBottom .col-sm-4,
    .shipmentComponentBoxs .col-sm-12 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .energyStstemCards {
        height: 210px;
    }

    .energySecCardFill {
        padding: 24px 18px;
    }

    .fontSize36 {
        font-size: 26px;
    }

    .energySecCard .energyCardImg {
        height: 50px;
        width: 50px;
    }

    .trackingBanner {
        padding: 120px 0px 328px;
    }

    .trackStatusInfo span {
        font-size: 12px;
        line-height: 16px;
        display: inline-block;
    }

    .trackStatusInfo {
        left: -35%;
        top: 45px;
    }

    .trackGraphSet:nth-child(even) .trackStatusInfo {
        top: -45px;
    }

    .trackGraphSet .trackStatusIcon {
        height: 32px;
        width: 32px;
    }

    .trackProductChart .trackGraphSet::after {
        height: 4px;
    }

    .trackingTableTop {
        padding-bottom: 20px;
    }

    .prodDetailsTable td {
        font-size: 14px;
        line-height: 20px;
    }

    .fontSize32 {
        font-size: 28px;
        line-height: 37px;
    }

    .shipmentComponentBoxs .col-sm-12 {
        width: 33.3%;
        /* margin-bottom: 30px; */
    }

    .orderDetailsHeadTop {
        margin-bottom: 15px;
    }

    .shipmentOrderSec .col-sm-12:not(:last-child) {
        margin-bottom: 20px;
    }

    .deliverySolRight {
        margin-top: 30px;
    }

    .deliverySolRight .col-sm-12:not(:last-child) {
        margin-bottom: 30px;
    }

    .trackTableStatus td .trackStatus {
        height: 6px;
        width: 6px;
    }

    .footerLogo a {
        width: 190px;
    }

    .productInfoChild .prodDetailBoxsSec .prodDetailBoxsLeft,
    .productInfoChild .prodDetailBoxsSec .prodDetailBoxsRight {
        width: 100%;
        margin-bottom: 6px;
    }

    .productInfoChild .prodDetailBoxsSec .prodDetailBoxsLeft {
        padding-right: 0px;

    }

    .prodDetailBoxsSec:last-child .prodDetailBoxsRight {
        margin-bottom: 0px;
    }

    .addedProductSlider .slick-next {
        right: -35px;
    }

    .addedProductSlider .slick-prev {
        left: -35px;
    }

    /* .addedProductsListBox .addedProductLeft {
        padding: 0px 35px;
    }*/
    /* .requesTobuyBox .requestBuyChild .col-sm-12{
        width: 50%;
    } */
    .requestBuyChild .col-sm-12:first-child {
        padding-right: 0;
        padding-bottom: 30px;
    }

    .requestBuyRightTop .productInfoChild .prodDetailBoxsSec {
        display: flex;
    }

    .requestBuyRightTop .productInfoChild .prodDetailBoxsSec .prodDetailBoxsLeft,
    .requestBuyRightBottom .productInfoChild .prodDetailBoxsSec .prodDetailBoxsLeft {
        width: 70%;
        padding-right: 30px;
    }

    .requestBuyRightTop .productInfoChild .prodDetailBoxsSec .prodDetailBoxsRight,
    .requestBuyRightBottom .prodDetailBoxsSec:last-child .prodDetailBoxsRight {
        width: 30%;
    }

    .tableContentBox .col-sm-12:not(:last-child) {
        margin-bottom: 20px;
    }

    .companyLocationBox .contactCardOverlay {
        padding: 30px 30px;
    }

    .pageBanner,
    .pageBanner .slick-list,
    .pageBanner .slick-list .slick-track,
    .pageBanner .slick-list .slick-slide {
        min-height: 550px;
    }

    .newProductsSlider {
        padding: 0px 50px;
    }

    .newProductsSlider .slick-prev {
        left: 0;
    }

    .newProductsSlider .slick-next {
        right: 0px;
    }

    .newProductSlideImage {
        height: 180px;
    }

    .newProductsSlider .slick-prev,
    .newProductsSlider .slick-next {
        height: 24px;
        width: 24px;
    }

    .productSectionBox {
        padding: 50px 0px 26px;
    }

    .productSectionBox .row,
    .weFollowBoxs .row,
    .ourTeamChild .row {
        margin-left: -20px;
        margin-right: -20px;
    }

    .productSectionBox .col-sm-12,
    .weFollowBoxs .col-sm-12,
    .ourTeamChild .col-sm-12 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .productVideoSec {
        height: 340px;
    }

    .bestSellingProductSec {
        height: 460px;
    }

    .showAllProdsChild .showAllProdsRight {
        padding-left: 40px;
    }

    .getInTouchBox {
        padding: 120px 0px;
    }

    .cewCollectionGrid .newCollectionItem {
        width: 50%;
        min-width: 50%;
    }

    .makingTomorrowTop .tomorrowTopLeft {
        width: 41%;
        min-width: 41%;
    }

    .makingTomorrowBottom .col-sm-6 {
        margin-bottom: 30px;
    }

    .makingTomorrowBottom .col-sm-6:nth-last-child(-n+2) {
        margin-bottom: 0px;
    }

    .productsGalleryBox .col-sm-12 {
        width: 33.3%;
    }

    .pageBanner2 {
        height: 450px;
        min-height: 450px;
    }

}

@media (max-width: 767px) {
    .container {
        padding: 0 20px;
    }

    .homeBannerSlider .slick-prev {
        left: 15px;
    }

    .homeBannerSlider .slick-next {
        right: 15px;
    }

    .fontSize48 {
        font-size: 34px;
        line-height: 44px;
    }

    .pageBannerContent p br {
        display: none;
    }

    .innovationRow .solutionSecLeft,
    .innovationRow .solutionSecRight {
        width: 100%;
    }

    .innovationRow .solutionSecLeft {
        padding-right: 0px;
    }

    .innovationRow .solutionSecRight {
        margin-top: 30px;
    }

    .companyStatsRow .statsInnerBox {
        width: 32%;
        margin-bottom: 20px;
    }

    br {
        display: none;
    }

    .homeBannerSlide {
        padding: 154px 60px;
    }

    .scrollToAbout .scrollToContent {
        padding-left: 8px;
    }

    .scrollToAbout {
        left: 20px;
        bottom: 20px;
    }

    .energySystemTop .energySystemLeft,
    .energySystemTop .energySystemRight {
        width: 100%;
        padding: 0px 0px;
    }

    .energySystemTop .energySystemLeft {
        padding-bottom: 30px;
    }

    .energySystemRight .col-sm-6:nth-last-child(-n+2) {
        margin-bottom: 20px;
    }

    .energySystemRight .col-sm-6:last-child {
        margin-bottom: 0px;
    }

    .energySystemBottom .col-sm-4:not(:last-child) {
        margin-bottom: 20px;
    }

    .customerTestimonial .col-sm-12:last-child {
        margin-bottom: 0px;
    }

    .footerTopChild .col-sm-5 {
        display: none;
    }

    .footerTopChild .col-sm-7 {
        width: 100%;
    }

    .footTopRight {
        align-items: center;
    }

    .footTopContent h4 {
        margin-bottom: 10px;
        text-align: center;
    }

    .footeMenusTop .row .col-sm-2,
    .footeMenusTop .row .col-sm-4 {
        width: 50%;
        margin-bottom: 15px;
    }

    .footeMenusTop .row .col-sm-4:last-child {
        order: -1;
    }

    .footMenuBtmText br,
    .testimonialBottom .testimonialByInfo br,
    .requestBuyLeft h3 br {
        display: initial;
    }

    .scrollTop a {
        padding: 6px 13px;
    }

    .footerBottom {
        padding: 19px 0px;
    }

    .footMenuBtm p {
        line-height: 25px;
    }

    .footMenuBtmHead {
        margin-bottom: 10px;
    }

    .footMenuBtm {
        margin-bottom: 25px;
    }

    .footMenuBottom .col-sm-4:last-child .footMenuBtm {
        margin-bottom: 0px;
    }

    .footeMenusTop {
        margin-bottom: 20px;
    }

    .footerBox {
        padding-top: 70px;
    }

    .trackFormInner {
        width: 550px;
    }

    .trackingBanner {
        padding: 110px 0px 318px;
    }

    .orderTrackUpdates .trackUpdatesBox {
        flex-direction: column;
    }

    .trackProductChart {
        padding: 0px 20px;
    }

    .orderTrackUpdates .trackInTransit,
    .orderTrackUpdates .deliveryExpected,
    .orderTrackUpdates .latestUpdate {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .shipmentComponentBoxs .col-sm-12 {
        width: 100%;
        margin-bottom: 30px;
    }

    .shipmentComponentBoxs .col-sm-12:last-child {
        /* margin-bottom: 0px; */
    }

    .shipmentCardImage {
        margin-bottom: 10px;
    }

    .contactPage {
        height: 530px;
    }

    .contactFormInner {
        margin-top: -380px;
        padding: 35px 30px;
    }

    .projectsCheckGroup .col-sm-4 {
        width: 32%;
    }

    .companyLocationBox {
        height: 400px;
    }

    .contactLocationsChild .col-sm-12 {
        margin-bottom: 30px;
    }

    .contactLocationsChild .col-sm-12:last-child {
        margin-bottom: 0px;
    }

    .fontSize36 {
        font-size: 24px;
    }

    .addedProductsListBox .addedProductLeft,
    .addedProductsListBox .addedProductRight {
        width: 100%;
    }

    .addedProductsListBox .addedProductRight {
        padding-left: 0px;
        margin-top: 15px;
    }

    .productPdfChild {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .productPdfChild .productPdfLeft {
        padding-right: 0;
    }

    .productPdfLeftHead,
    .productPdfLeftText {
        text-align: center;
        margin-bottom: 15px;
    }

    .addedProductsBoxTop {
        padding-bottom: 50px;
    }

    .fontSize24 {
        font-size: 19px;
    }

    .largeBtn {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .pageBanner,
    .pageBanner .slick-list,
    .pageBanner .slick-list .slick-track,
    .pageBanner .slick-list .slick-slide {
        min-height: 530px;
    }

    .makingTomorrowTop {
        flex-wrap: wrap;
    }

    .makingTomorrowTop .tomorrowTopLeft {
        width: 100%;
        min-width: 100%;
    }

    .makingTomorrowTop .tomorrowTopRight {
        padding-left: 0;
        padding-top: 20px;
    }

    .makingTomorrowBottom .col-sm-6 {
        width: 50%;
        min-width: 50%;
    }

    .makingTomorrowBottom .col-sm-6 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .weFollowBoxs .col-sm-12:not(:last-child) {
        margin-bottom: 20px;
    }

    .ourCustomersLogos {
        width: 100%;
        min-width: 100%;
        margin-left: 0;
        padding-top: 30px;
    }

    .ourCustomerChild {
        flex-wrap: wrap;
    }

    .ourTeamChild .col-sm-12 {
        margin: 10px 0;
    }

    .sectionHeads2 {
        margin-bottom: 15px;
    }

    .ourTeamChild .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .ourTeamChild .col-sm-12 {
        width: 50%;
        min-width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .ourTeamBox {
        height: 240px;
    }

    .newProductsSlider {
        padding: 0px 30px;
    }

    .productSectionDetail {
        margin-top: 20px;
    }

    .knowMoreSectionBoxLeft,
    .knowMoreSectionBoxRight {
        width: 100%;
    }

    .knowMoreSectionBoxLeft {
        padding: 80px 20px 80px 20px;
    }

    .showAllProdsChild .showAllProdsLeft {
        width: 100%;
        min-width: 100%;
    }

    .showAllProdsChild {
        flex-wrap: wrap;
    }

    .showAllProdsChild .showAllProdsRight {
        padding-left: 0;
        padding-top: 20px;
    }

    .cewCollectionGrid .newCollectionItem {
        width: 100%;
        min-width: 100%;
    }

    .getInTouchBox {
        padding: 100px 0px;
    }

    .knowMoreSectionBoxLeft .sectionHeads {
        text-align: center;
    }

    .knowMoreSectionBoxLeft .sectionHeads h2 {
        margin-top: 0px;
    }

    .productsGalleryBox .productGalleryImage {
        height: 150px;
    }

    .pageBanner2 {
        height: 400px;
        min-height: 400px;
    }

}

@media (max-width: 560px) {
    .companyStatsRow .statsInnerBox {
        width: 50%;
    }

    .fontSize48 {
        font-size: 30px;
        line-height: 40px;
    }

    .homeBannerSlide {
        padding: 130px 60px;
    }

    .fontSize16 {
        font-size: 14px;
    }

    .boxPaddings {
        padding: 22px 0;
    }

    .boxPaddings2 {
        padding-top: 44px;
    }

    .boxPaddings3 {
        padding-bottom: 44px;
    }

    .fontSize36 {
        font-size: 22px;
        line-height: 30px;
    }

    .fontSize14 {
        font-size: 12px;
        line-height: 15px;
    }

    .secMargin {
        margin-bottom: 6px;
    }

    .dealWithSection2 {
        /* padding-bottom: 0px; */
    }

    .energySystemBox {
        /* padding-top: 0px; */
    }

    .energySecCardFill {
        padding: 20px 18px;
    }

    .customerMidBox {
        margin: 35px 0px 50px;
    }

    .fontSize18 {
        font-size: 15px;
    }

    .footBtmText {
        /* padding: 0px 60px; */
        text-align: left;
    }

    .scrollTop a {
        padding: 10px 16px;
    }

    .scrollTop a img {
        height: 25px;
        width: 25px;
    }

    .footerBox {
        padding-top: 50px;
    }

    .equipmentsPage .homeBannerSlide {
        padding: 130px 30px;
    }

    .trackingBanner {
        padding: 100px 0px 274px;
    }

    .trackFormInner .searchInputBox .form-control {
        border: none;
        font-size: 14px;
        line-height: 17px;
    }

    .deliverySolRight {
        padding: 20px 20px;
    }

    .deliverySolRight .col-sm-12:not(:last-child) {
        margin-bottom: 20px;
    }

    .fontSize32 {
        font-size: 25px;
        line-height: 35px;
    }

    .addedProductsBoxTop {
        flex-direction: column;
    }

    .addedProductsBoxTop h2 {
        padding-left: 0px;
        padding-bottom: 20px;
    }

    .productInfoDetails {
        padding: 15px 15px;
    }

    .productUpdateCounter {
        margin-top: 10px;
    }

    .requestBuyRightTop .productInfoChild .prodDetailBoxsSec .prodDetailBoxsLeft,
    .requestBuyRightBottom .productInfoChild .prodDetailBoxsSec .prodDetailBoxsLeft {
        width: 60%;
    }

    .requestBuyRightTop .productInfoChild .prodDetailBoxsSec .prodDetailBoxsRight,
    .requestBuyRightBottom .prodDetailBoxsSec:last-child .prodDetailBoxsRight {
        width: 40%;
    }

    .fontSize18 {
        font-size: 15px;
        line-height: 23px;
    }

    .featuresListings li {
        font-size: 14px;
        line-height: 22px;
    }

    .projectsCheckGroup .col-sm-4 {
        width: 100%;
        margin-bottom: 10px;
    }

    .projectsCheckGroup .col-sm-4:last-child {
        margin-bottom: 0;
    }

    .companyLocationBox {
        height: 288px;
    }

    .contactFormInner {
        margin-top: -380px;
        padding: 30px 20px;
    }

    .formDesign.formDesign2 label {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .formDesign.formDesign2 .form-control {
        font-size: 14px;
        padding: 13px 15px;
    }

    .trackProductChart {
        flex-direction: column;
    }

    .trackProductChart .trackGraphSet {
        width: initial;
        height: 55px;
    }

    .trackProductChart .trackGraphSet::after {
        width: 3px;
        height: 100%;
        top: 15px;
        left: 13px;
    }

    .trackStatusInfo,
    .trackGraphSet:nth-child(even) .trackStatusInfo {
        left: 40px;
        text-align: left;
        top: 3px;
        width: auto;
    }

    .trackShipmentGraph {
        padding: 15px 0px 0px;
    }

    .trackGraphSet .trackStatusIcon {
        height: 28px;
        width: 28px;
    }

    .trackProductChart {
        padding: 0px 10px;
    }

    .orderTrackUpdates .trackInTransit,
    .orderTrackUpdates .deliveryExpected,
    .orderTrackUpdates .latestUpdate {
        font-size: 14px;
    }

    .prodDetailsTable td {
        font-size: 13px;
        line-height: 19px;
    }

    .footerMenuItem {
        margin-bottom: 15px;
    }

    .footerMid {
        padding: 20px 0px 20px;
    }

    .footeMenusTop {
        margin-top: 30px;
        margin-bottom: 12px;
    }

    .footMenuBtm p {
        line-height: 22px;
    }

    .shipmentComponentBoxs .col-sm-12:last-child {
        margin-bottom: 15px;
    }

    .trackUpdatesBox .deliveryExpected {
        padding-right: 0px;
    }

    .trackFormInner .searchButtonLink {
        font-size: 13px;
        line-height: 13px;
    }

    .btnStyle {
        padding: 10px 15px;
    }

    .trackFormInner {
        width: 100%;
    }

    .trackFormInner {
        padding: 4px 4px;
    }

    .header {
        padding: 10px 0px;
    }

    .trackingBannerInner .trackBannerHeading {
        margin-bottom: 15px;
    }

    .pageBanner,
    .pageBanner .slick-list,
    .pageBanner .slick-list .slick-track,
    .pageBanner .slick-list .slick-slide {
        min-height: 472px;
    }

    .innovationChild {
        flex-wrap: wrap;
    }

    .innovationChild .innovationSecLeft {
        width: 100%;
        min-width: 100%;
    }

    .innovationChild .innovationSecLeft img {
        width: 70%;
    }

    .innovationChild .innovationSecRight {
        padding-left: 0;
        padding-top: 20px;
    }

    /* .weFollowBanner span{
        height: 200px;
    }
    .weFollowBanner span img{
        height: 100%;
        object-fit: cover;
    } */
    .ourTeamBox {
        height: 210px;
    }

    .productVideoSec {
        height: 233px;
    }

    .bestSellingProductSec {
        height: 420px;
    }

    .knowMoreSectionBoxLeft {
        padding: 60px 20px 60px 20px;
    }

    .knowMoreSectionBoxLeft .sectionHeads h2 {
        margin-bottom: 20px;
    }

    .getInTouchBox {
        padding: 80px 0px;
    }

    .navbar-expand-md .navbar-collapse {
        top: 55px;
        height: calc(100vh - 55px);
    }

    .sectionHeads p {
        margin-bottom: 20px;
    }

    .showAllProdsChild .knowMoreLink {
        margin-top: 0;
    }

    .showAllProdsChild .showAllProdsRight {
        padding-top: 7px;
    }

    .dealWithSectionChild {
        height: 400px;
    }

    .dealWithSectionChild.dealWithSectionChild2 {
        height: 320px;
    }

    .productsGalleryBox .col-sm-12 {
        width: 100%;
        margin-bottom: 20px;
    }

    .productsGalleryBox .productGalleryImage {
        height: 100%;
    }

    .pageBanner2 {
        height: 380px;
        min-height: 380px;
    }

}

@media (max-width: 414px) {
    .addedProductSlider.slick-initialized .slick-slide {
        height: 200px;
    }

    .scrollTop a {
        padding: 10px 9px;
    }

    .fontSize16 {
        font-size: 13px;
    }

    .footerMenuItem,
    .footeMenusTop .row .col-sm-2,
    .footeMenusTop .row .col-sm-4 {
        margin-bottom: 12px;
    }

    .fontSize18 {
        font-size: 14px;
    }

    .fontSize32 {
        font-size: 22px;
        line-height: 32px;
    }

    .getInTouchBox {
        padding: 50px 0px;
    }

    .energySystemTop .energySystemLeft {
        padding-bottom: 0;
    }

    .equipmentsGalleryItem .cardOverlay .equipmentName {
        font-size: 16px;
    }
}

@media (max-width: 360px) {

    .pageBanner,
    .pageBanner .slick-list,
    .pageBanner .slick-list .slick-track,
    .pageBanner .slick-list .slick-slide {
        min-height: 494px;
    }
}