@media (max-width: 1920px) {}

@media (max-width: 1560px) {

}

@media (max-width: 1367px) {
    .container {
        max-width: 1110px;
    }
    html {
        font-size: 54%;
        -webkit-text-size-adjust:none;
    }
    .expressiveUiSlider .expressiveUiRight,
    .expressiveUiSlider .expressiveUiLeft{
        width: 50%;
    }
    .expressiveUiSlider .expressiveUiLeft{
        padding-right: 3rem;
    }
    .navbar-expand-md .navbar-nav .nav-link, 
    .navbar-nav .nav-link,
    .menuDropBox ul li a{
        font-size: 1.7rem;
    }
    .header{
        padding: 2rem 0rem;
    }
    .sectionTop{
        margin-top: 10rem;
    }
    /* Home Page Start */
    .primeCustHeading {
        margin-bottom: 10rem;
    }
    .primeCustomers {
        padding: 13rem 0rem 13rem;
    }
    .gallerySeeMore {
        padding: 5rem 0rem 11rem;
    }
    .teatimonialInner {
        padding: 12rem 6rem 13rem;
    }
    .whyUsBox .whyusSecHeading br,
    .whyUsBox .whyusSecDetail br{
        display: none;
    }
    /* Home Page End */
    /* About Us Start */
    .ourMissionVisionSec .sectionRight{
        width: 59%;
    }
    .ourMissionVisionSec .sectionLeft{
        width: 41%;
    }
    .coreValuesSection {
        padding-left: 6rem;
    }
    .aboutBanner,
    .aboutBanner .bannerInner{
        height: 66.4rem;
    }
    .aboutSectionInnerBox .aboutSecLeft{
        width: 63%;
    }
    .aboutSectionInnerBox .aboutSecRight{
        width: 37%;
    }
    .aboutSecLeft .sectionHeading h2::after{
        width: 49%;
    }
    /* About Us End */
    /* Blog Details Start */
    .commonDetailsInner {
        padding: 5rem 12rem 9rem;
    }
    /* Blog Details Start */
    /* Hire Developers Start */
    .whyHireDevs {
        padding: 5rem 0rem 13rem;
    }
    .hireStepsSection {
        padding: 7.6rem 0rem 10rem;
    }
    /* Hire Developers End */
    /* Our Work Start */
    .successStoriesBox2 {
        padding: 11rem 0rem;
    }
    .testimonialSliders.slick-dotted.slick-slider {
        margin-bottom: 11rem;
    }
    /* Our Work End */
    .cardTestimonials {
        height: 280px;
    }

}

@media (max-width: 1199px) {
    .container {
        max-width: 100%;
        padding: 0px 50px;
    }
    html {
        font-size: 47%;
        -webkit-text-size-adjust:none;
    }
    .fontSize13 {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .fontSize24{
        font-size: 2.2rem;
    }
    .fontSize72{
        font-size: 6.5rem;
    }
    .fontSize144 {
        font-size: 12.4rem;
        line-height: 11.4rem;
    }
    .fontSize64 {
        font-size: 6rem;
        line-height: 7rem;
    }
    .btnStyle{
        font-size: 2rem;
        line-height: 2rem;
    }
    .btnStyle2 {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }
    .testimonialSlider.slick-initialized .slick-prev {
        left: 47vw;
    }
    .testimonialSlider.slick-initialized .slick-next {
        right: 47vw;
    }
    /* Home Page Start */
    .navbar-expand-md .navbar-nav .nav-link, 
    .navbar-nav .nav-link,
    .menuDropBox ul li a{
        font-size: 1.7rem;
    }
    .expressiveUiBox {
        padding: 5rem 5rem 5rem;
    }
    
    .faqsListSection .faqAnswer{
        padding: 0rem 5rem 4.0rem 2.0rem;
    }
    .footerFormsInner {
        padding: 0px 3rem;
    }
    .footMidSocial ul li span {
        left: -4.3rem;
    }
    .mutualBenefitBoxs .mutualBenefitRight .mutualBenefitImg {
        height: 5.5rem;
    }
    .mutualBenefitBoxs .mutualBenefitRight .mutualBenefitImg img{
        height: 100%;
    }
    .mutualBenefitBoxs{
        margin-bottom: 12rem;
    }
    .mainBannerInner{
        flex-wrap: wrap;
    }
    .mainBannerLeft{
        width: 45%;
    }
    .mainBannerRight{
        width: 55%;
    }
    .headingMainBanner{
        font-size: 7vw;
        padding-left: 15vw;
        top: 20vw;
    }
    /* Home Page End */
    /* About Page Start */
    .aboutBanner, 
    .aboutBanner .bannerInner {
        height: 65rem;
    }
    .aboutSectionInnerBox{
        flex-wrap: wrap;
    }
    .aboutSectionInnerBox .aboutSecLeft {
        width: 58%;
        padding-bottom: 5rem;
    }
    .aboutSectionInnerBox .aboutSecRight {
        width: 42%;
    }
    .aboutUsSectionBox{
        padding: 8rem 3rem 0rem 4rem;
    }
    .aboutSecLeft .sectionHeading h2::after {
        width: 40%;
    }
    .ourMissionVisionSec .sectionLeft {
        width: 44%;
    }
    .ourMissionVisionSec .sectionRight {
        width: 56%;
    }
    /* About Page End */
    /* Blod Details Start */
    .commonDetailsInner {
        padding: 5rem 7rem 9rem;
    }
    .moreBoxs {
        padding: 0rem 9rem;
    }
    .moreBlogsBox {
        margin-bottom: 11.5rem;
    }
    /* Blod Details End */
    /* Blogs Start */
    .blogsBottomLists{
        padding: 10rem 12rem 5rem
    }
    .fontSize180 {
        font-size: 17rem;
        line-height: 20rem;
    }
    .blogsSlider .slick-track .slick-current .blogSlideImage,
    .blogsSlider .blogsSlide,
    .blogSlideImage{
        height: 22rem;
    }
    /* Blogs End */
    /* Contact Page Start */
    .bannerFormLeft{
        width: 46%;
    }
    .bannerFormRight {
        width: 54%;
    }
    .formDesign .form-control,
    .fontSize14{
        font-size: 1.5rem;
    }
    .hireDevsBannerBox p{
        line-height: 3.8rem;
    }
    /* Contact Page End */
    /* Hire Develoeprs Start */
    .hireStepsBottom {
        padding: 4.5rem 12rem 0rem;
    }
    /* Hire Develoeprs End */
    /* Our Team Start */
    .manifestoRight {
        padding: 5rem 1rem 5rem 3rem;
    }
    .leadershipTeamCard{
        height: 35.3rem;
    }
    /* Our Team End */
    /* Our Work Start */
    .fontSize48{
        font-size: 4.4rem;
    }
    .caseStudyBox .row {
        margin-left: -3.5rem;
        margin-right: -3.5rem;
    }
    .caseStudyBox .col-sm-6 {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    /* Our Work End */
    /* Services Start */
    .servicesSecBtm .servicesSecLeft .serviceCardIcon{
        width: 7vw;
    }
    .servicesCards p{
        line-height: 2.4rem;
    }
    .testContent{
        line-height: 2.3rem;
    }
    .teatimonialInner {
        padding: 12rem 1rem 13rem;
    }
    /* Services End */

}

@media (max-width: 991px) {
    
    html {
        font-size: 35%;
        -webkit-text-size-adjust:none;
    }
    .btnStyle2{
        font-size: 2.2rem;
        line-height: 2.2rem;
    }
    .headerNav a{
        padding: 1.5rem 2rem;
    }
    .headerNav a:hover{
        padding: 1.5rem 3rem 1.5rem 1rem;
    }
    .navbar-brand{
        width: 21rem;
    }
    .fontSize24 {
        font-size: 2.4rem;
        line-height: 2.9rem;
    }
    .fontSize13 {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    .fontSize18{
        font-size: 2.2rem;
        line-height: 3.2rem;
    }
    .fontSize9 {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
    /* Home Page Start */
    .headingMainBanner{
        padding-left: 12vw;
    }
    .navbar-expand-md .navbar-nav .nav-link, 
    .navbar-nav .nav-link,
    .menuDropBox ul li a{
        font-size: 2.3rem;
        /* margin-right: 5rem; */
    }
    .navbar-expand-md .navbar-nav .nav-item{
        /* margin-right: 5rem; */
        margin-right: 4rem;
    }
    .whyusBoxs .row {
        margin-left: -2rem;
        margin-right: -2rem;
    }
    .whyusBoxs .col-md-4 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .businessTypeBox .row {
        margin-left: -3.4rem;
        margin-right: -3.4rem;
    }
    .businessTypeBox .col-md-6 {
        padding-left: 3.4rem;
        padding-right: 3.4rem;
    }
    .commonBoxInner .mainContent{
        line-height: 3rem;
    }
    .faqsInner {
        padding: 9rem 0rem;
    }
    .footMidList ul li a,
    .footTopHead{
        font-size: 2.2rem;
        line-height: 3.2rem;
    }
    .footMidSec:last-child .footTopHead {
        padding-bottom: 3rem;
    }
    .footerLeft .footHeading{
        font-size: 2.4rem;
        line-height: 3rem;
    }
    .footLeftList span a,
    .footerBtm ul li a{
        font-size: 2rem;
        line-height: 3.2rem;
    }
    .footLeftList span a{
        width: 21rem;
    }
    .faqsListSection .faqAnswer{
        line-height: 3rem;
    }
    .footSocial ul li{
        margin-right: 2.9rem;
        height: 4.5rem;
        width: 4.5rem;
    }
    .footMidSocial ul li span {
        left: -5.3rem;
    }
    .footerRight .footRightHeading{
        font-size: 2.7rem;
        line-height: 3.5rem;
    }
    .faqsTopSection .subContent{
        line-height: 3rem;
    }
    .testimonialSlider.slick-initialized .slick-prev {
        left: 47vw;
    }
    .testimonialSlider.slick-initialized .slick-next {
        right: 47vw;
    }
    .galleryImageSec span {
        max-height: 46rem;
    }
    .mainBannerRight {
        width: 55%;
    }
    .mainBannerLeft {
        width: 42%;
    }
    .expressiveUiSlider .expressiveUiLeft {
        width: 45%;
    }
    .expressiveUiSlider .expressiveUiRight{
        width: 55%;
    }
    .aboutSectionInnerBox .aboutSecRight {
        display: flex;
        align-items: flex-end;
    }
    /* Home Page End */
    /* About Page Start */
    .ourMissionVisionBox {
        padding: 6.5rem 0rem;
    }
    .ourMissionVisionSec .sectionLeft {
        width: 37%;
    }
    .ourMissionVisionSec .sectionRight {
        width: 63%;
    }
    .coreValuesSection {
        padding-left: 0;
    }
    .formDesign .form-control, .fontSize14 {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    .whyUsBox .whyUsImage{
        height: 8rem;
    }
    .whyUsBox .whyUsImage img{
        height: 100%;
    }
    .mutualBenefitsSections {
        padding: 0rem 0rem;
    }
    .aboutUsSectionBox {
        padding: 6rem 3rem 0rem 4rem;
    }
    /* About Page End */
    /* Blog Page Start */
    .blogsBottomLists {
        padding: 10rem 0rem 5rem;
    }
    .footerBox2 {
        padding-top: 16rem;
    }
    .commonDetailsBox h2{
        margin-bottom: 5rem;
    }
    /* Blog Page End */
    /* Contact page start */
    .contactBannerBox .contactBannerLeft{
        width: 50%;
    }
    .contactBannerBox .contactBannerRight{
        width: 50%;
    }
    .pageLinkLists .pageLinkList{

    }
    .formDesign .form-control, 
    .fontSize14,
    .rangeCounter .budgetInput input {
        font-size: 2.3rem;
        line-height: 2.8rem;
    }
    .formDesign .form-control{
        padding: 1.8rem 2rem;
    }
    .bannerFormLeft {
        width: 40%;
    }
    .bannerFormRight {
        width: 60%;
    }
    .form-group.formIconSec .formFieldIcon{
        width: 3rem;
        top: 2rem;
    }
    .form-group.formIconSec .form-control {
        padding-left: 6rem;
    }
    .btnStyle {
        /* font-size: 2.4rem; */
        line-height: 4rem;
    }
    .rangeCounter .budgetInput input{
        width: 12rem;
        padding-left: 2rem;
    }
    .budgetInput .budgetCurrency{
        top: 1px;
    }
    .fontSize9 {
        font-size: 1.7rem;
        line-height: 2rem;
    }
    /* .checkBoxSec label{
        font-size: 2.2rem;
        line-height: 3rem;
    }
    .checkBoxSec input[type="checkbox"]:checked+label, 
    .checkBoxSec input[type="checkbox"]:not(:checked)+label{
        padding-left: 3.4rem;
    }
    .checkBoxSec input[type="checkbox"]:checked+label::before, 
    .checkBoxSec input[type="checkbox"]:not(:checked)+label::before{
        height: 2.4rem;
        width: 2.4rem;
    } */

    .customChecked{
        font-size: 2.2rem;
        line-height: 3rem;
        padding-left: 1.6rem;
    }
    .customChecked::before{
        height: 2.4rem;
        width: 2.4rem;
    }
    .chooseTechOptions .customCheckbox {
        width: 50%;
    }
    .bannerSocialIcon{
        width: 4.4rem;
    }
    .bannerSocialList{
        width: 44rem;
    }
    .bannerSocialList .bannerSocialText{
        font-size: 2rem;
        line-height: 3rem;
    }
    .formPageBanner {
        padding-top: 6rem;
    }
    .intl-tel-input.allow-dropdown .selected-flag {
        height: 6.5rem;
    }
    .hireStepsBottom {
        padding: 4.5rem 7rem 0rem;
    }
    .hireStepsSecn .hireStepsFinal {
        right: -3rem;
        bottom: 9rem;
    }
    .hireStepsFinal .stepsFinalIcon2 {
        top: -9rem;
        right: -7rem;
    }
    /* Contact page end */
    /* Our Work Start */
    .ourWorkBannerBox{
        padding-top: 5rem;
    }
    .caseStudyBox.moreBoxs {
        padding: 0rem 0rem 6rem;
    }
    .fontSize16{
        font-size: 2rem;
        line-height: 3rem;
    }
    .testimonialSlides .testimonialContents{
        line-height: 3rem;
    }
    .testimonialsHeadBox p br{
        display: none;
        line-height: 3.4rem;
    }
    .fontSize36 {
        font-size: 4.6rem;
        line-height: 6.4rem;
    }
    /* Our Work End */
    .yourIdeaRight .smallContent{
        line-height: 3.2rem;
    }
    .blogsSlideContent .blogsSlideText{
        line-height: 2.9rem;
    }
    .readMoreBlog a{
        font-size: 2rem;
        line-height: 3rem;
    }
    .blogsListSec .blogContent .blogHeading{
        font-size: 3rem;
        line-height: 4rem;
    }
    .blogsListSec .blogContent .blogsContent{
        font-size: 2.4rem;
        line-height: 3.5rem;
    }
    .hireStepsTop span br{
        display: none;
    }
    .hireStepsTop span{
        line-height: 3rem;
    }
    .footerFormsInner {
        padding: 0px 0rem;
    }
    .hireDevsSteps{
        padding: 3rem 1.5rem;
    }
    .footerFormBox{
        background-size: 100% 100%;
    }
    .footerFormSec{
        padding: 11.5rem 6rem;
    }
    .manifestoSlide p{
        line-height: 3rem;
    }
    .manifestoRight .scrollSlide{
        height: 55rem;
    }
    .manifestoSlide h4::before{
        bottom: 0.5rem;
    }
    .servicesCards h4{
        font-size: 4rem;
        line-height: 6rem;
    }
    .servicesCards p{
        font-size: 2.5rem;
        line-height: 3.6rem;
    }
    .servicesTabsBox .nav-tabs .nav-link{
        width: 37.5rem;
    }
    .servicesBanner .bannerInnerBox p br{
        display: none;
    }
    .servicesTabsBox .nav-tabs .nav-link,
    .techInnerTabs .nav-tabs .nav-link{
        font-size: 3.3rem;
    }
    .techCardImage span{
        height: 70px;
        width: 70px;
        margin-bottom: 1rem;
    }
    .techCardImage span img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .techInnerTabs .col-sm-4{
        margin-top: 0rem;
        margin-bottom: 7rem;
    }
    .technologyTabContent{
        padding: 9rem 5.2rem 6rem;
    }
    .leadershipTemTop .mainContent br{
        display: none;
    }
    .leadershipTeamCard {
        height: 46.3rem;
    }
    .leadershipTeamCard .cardPopupRight span{
        width: 4rem;
    }
    .cardTestimonials {
        height: 230px;
    }
    .testinmonialImage{
        height: 7rem;
        width: 7rem;
        min-width: 7rem;
    }
    .sectionTop {
        margin-top: 11.4rem;
    }
    .error{
        font-size: 2rem;
        line-height: 3rem;
    }
    .form-group.formIconSec .formFieldIcon.formFieldIcon2 {
        top: 2rem;
    }
}

@media (max-width: 767px) {
    /* Sidebar Start */
    .navbar-expand-md .navbar-collapse {
        display: none;
        position: fixed;
        background: var(--colorWhite);
        width: 100%;
        left: 0;
        right: 0;
        top: -100%;
        height: auto;
        align-items: flex-start;
        justify-content: center;
        padding: 30px 0px 50px;
    }
    .navbar-expand-md .navbar-collapse.showBox {
        top: -100%;
    }
    .navbar-expand-md .navbar-collapse.show{
        top: 56px;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: 0px 5px 3px -4px rgb(0 0 0 / 30%);
    }
    .headerRight{
        width: auto;
    }
    .navbar-expand-md .navbar-nav .nav-link, 
    .navbar-nav .nav-link{
        margin-right: 0px;
        /* margin-bottom: 20px; */
    }
    .headerBtn .btnStyle{
        animation: none;
        box-shadow: none;
    }
    /* Sidebar End */
    .container {
        padding: 0px 30px;
    }
    html {
        font-size: 26%;
        -webkit-text-size-adjust:none;
    }
    .fontSize48 {
        font-size: 7.5rem;
        line-height: 9rem;
    }
    .fontSize24 {
        font-size: 4rem;
        line-height: 5.3rem;
    }
    .fontSize13 {
        font-size: 2.8rem;
        line-height: 3.8rem;
    }
    .fontSize18 {
        font-size: 3rem;
        line-height: 4rem;
    }
    .fontSize20 {
        font-size: 3rem;
    }
    .fontSize30 {
        font-size: 4.4rem;
        line-height: 5rem;
    }
    /* Home Page Start */
    .navbar-toggler{
        margin-top: 1rem;
        margin-left: 3rem;
    }
    .navbar-toggler i{
        font-size: 20px;
    }
    .navbar-brand {
        width: 28rem;
    }
    .btnStyle,
    .btnStyle2{
        font-size: 3rem;
        line-height: 5rem;
    }
    .mainBannerLeft{
        min-width: unset;
    }
    .whyUsBox .whyUsImage {
        height: 12rem;
    }
    .whyusBoxs .col-md-4{
        margin-top: 12.8rem;
        width: 50%;
    }
    .whyUsBox .whyUsCount{
        top: -8rem;
        font-size: 14rem;
        line-height: 11rem;     
    }
    .businessTypeBox {
        padding: 8.7rem 0rem 10.9rem;
    }
    .businessTypeBox .col-md-6{
        width: 50%;
    }
    .businessTypeCards .cardSecHeading{
        padding-bottom: 3.8rem;
    }
    .businessTypeCards .cardSecHeading br{
        display: none;
    }
    .commonBoxInner .mainContent,
    .faqsTopSection .subContent,
    .faqsListSection .faqAnswer {
        line-height: 4rem;
        line-height: 4rem;
    }
    .commonBoxInner .mainContent br{
        display: none;
    }
    .expressiveUiSlider .slick-list {
        padding-top: 16rem;
    }
    .expressiveUiSlider .slick-dots li{
        height: 2.2rem;
        width: 2.2rem;
    }
    .expressiveUiSlider .slick-dots li button {
        height: 2.2rem;
        width: 2.2rem;
    }
    .testimonialSlide .col-sm-6{
        width: 50%;
    }
    .appConcept .commonBoxInner .btnStyle{
        width: auto;
    }
    .testimonialSlider.slick-initialized .slick-prev, 
    .testimonialSlider.slick-initialized .slick-next{
        height: 6rem;
        width: 6rem;
        bottom: -5rem;
    }
    .faqsListSection:last-child {
        margin-bottom: 3.1rem;
    }
    .faqsDropdown{
        height: 5.4rem;
        width: 5.4rem;
    }
    .mainBannerLeft{
        padding-bottom: 0;
    }
    .mainBannerLeft .bannerBtns span{
        margin-top: 2.5rem;
    }
    .mainBannerInner{
        flex-direction: column-reverse;
    }
    .mainBannerRight {
        width: 100%;
    }
    .mainBannerRight span{
        width: 68%;
        float: right;
    }
    .mainBannerLeft{
        width: 100%;
        margin-top: 7rem;
    }
    .companyStatsBox{
        padding: 5rem 0rem 0rem;
    }
    .companyStatsInner{
        flex-wrap: wrap;
    }
    .statsSection,
    .statsSection:nth-child(2){
        width: 33%;
    }
    .homeBanner{
        padding: 8rem 0rem 7.4rem;
    }
    .headingMainBanner{
        font-size: 8vw;
        padding-left: 0;
        top: 27vw;
    }
    .expressiveUiSlider .slick-dots {
        bottom: -18rem;
    }
    .galleryImageSec span {
        max-height: 50rem;
    }
    .cardTestimonials{
        min-height: 48rem;
    }
    .footerLeft .footHeading {
        font-size: 3rem;
        line-height: 4rem;
    }
    .footMidList ul li a, .footTopHead {
        font-size: 3rem;
        line-height: 4rem;
    }
    .footerTop  .col-sm-4{
        width: 38%;
    }
    .footerTop  .col-sm-5{
        width: 62%;
    }
    .footerTop  .col-sm-3{
        width: 100%;
    }
    .footLeftList span a, .footerBtm ul li a {
        font-size: 2.4rem;
        line-height: 3.7rem;
    }
    .footLeftList span a {
        width: 25rem;
    }
    .testinmonialImage{
        height: 10rem;
        width: 10rem;
        min-width: 10rem;
    }
    .businessTypeBox .row {
        margin-left: -2rem;
        margin-right: -2rem;
    }
    .businessTypeBox .col-md-6 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .footMidSocial ul li span {
        left: -8rem;
    }
    .footerRight .footRightHeading br{
        display: none;
    }
    .footSocial{
        margin-top: 2rem;
    }
    .footerBtm  ul{
        display: flex;
        justify-content: center;
    }
    .navbar-expand-md .navbar-nav .nav-link, 
    .navbar-nav .nav-link,
    .menuDropBox ul li a{
        font-size: 3.5rem;
    }
    .navbar-nav{
        text-align: center;
    }
    .navbar-nav .nav-item {
        margin-bottom: 3rem;
    }
    .navbar-nav .nav-item:last-child{
        margin-bottom: 0;
    }
    .whyUsSection {
        padding-top: 14rem;
    }
    /* Home Page End */

    /* About Page Start */
    .aboutBanner, .aboutBanner .bannerInner {
        height: 75rem;
    }
    .aboutBanner h2{
        margin-bottom: 2rem;
    }
    .aboutSectionInnerBox .aboutSecLeft{
        width: 100%;
        padding-right: 0;
    }
    .aboutSectionInnerBox .aboutSecRight{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
    .aboutSectionInnerBox .aboutSecRight span{
        width: 50%;
    }
    .ourMissionVisionSec .sectionLeft{
        width: 100%;
        padding: 0;
    }
    .ourMissionVisionSec .sectionRight{
        width: 100%;
        margin-top: 2rem;
    }
    .ourMissionVisionSec:nth-child(even) .sectionLeft{
        padding: 0;
    }
    .ourMissionVisionSec:nth-child(even) .sectionRight p{
        text-align: left;
    }
    .coreValuesInner {
        padding: 5rem 0rem 8rem 0rem;
    }
    .coreValueDetail span{
        line-height: 4rem;
    }
    .coreValueBox:nth-child(odd){
        padding-left: 0;
    }
    .formDesign .form-control, 
    .fontSize14, 
    .rangeCounter .budgetInput input,
    .yourIdeaRight .smallContent{
        font-size: 2.8rem;
        line-height: 3.8rem;
    }
    .fontSize9 {
        font-size: 2.2rem;
        line-height: 2.6rem;
    }
    .mutualBenefitBoxs .mutualBenefitLeft, 
    .mutualBenefitBoxs .mutualBenefitRight{
        width: 100%;
    }
    .mutualBenefitBoxs .mutualBenefitLeft{
        padding-right: 0;
    }
    .mutualBenefitBoxs .mutualBenefitLeft .mutualBenefitText{
        margin: 2rem 0rem 6rem;
    }
    .mutualBenefitBoxs .mutualBenefitLeft .mutualBenefitText:last-child{
        margin-bottom: 6rem;
    }
    .mutualBenefitBoxs .mutualBenefitRight .col-md-4{
        width: 33%;
    }
    .mutualBenefitBoxs .mutualBenefitRight .mutualBenefitImg{
        height: 10rem;
        margin-bottom: 2rem;
    }
    .mutualBenefitBoxs .mutualBenefitLeft .mutualBenefitBy::before{
        font-size: 12.6rem;
        line-height: 12.6rem;
    }
    .mutualBenefitsSections .mutualBenefitBoxs:nth-child(even) .mutualBenefitLeft{
        padding-left: 0;
    }
    .mutualBenefitBoxs .mutualBenefitRight .row{
        margin-left: -2rem;
        margin-right: -2rem;
    }
    .mutualBenefitBoxs .mutualBenefitRight .row .col-md-4{
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 4rem;
    }
    .fontSize36 {
        font-size: 5rem;
        line-height: 7rem;
    }
    .footFormText{
        margin-right: 5rem;
    }
    .aboutSecLeft .sectionHeading h2::after {
        width: 70%;
    }
    /* About Page End */
    /* Blog Details Page Start */
    .commonDetailsInner{
        padding: 8rem 0rem 9rem;
    }
    .fontSize22{
        font-size: 3.5rem;
        line-height: 5.3rem;
    }
    .commonDetailsBox p{
        line-height: 5.3rem;
    }
    .moreBoxs{
        padding: 0rem;
    }
    .moreBlogsBox .moreBoxCards .recentPostBox .recentPostImg{
        height: 38rem;
    }
    .moreBlogsBox .moreBoxCards .row{
        justify-content: center;
    }
    .moreBlogsBox .moreBoxCards .col-sm-4{
        width: 50%;
        margin-bottom: 4rem;
    }
    .moreBoxs .moreBoxsHeading h3{
        font-size: 6rem;
        line-height: 8rem;
    }
    .blogsBannerLeft{
        width: 100%;
    }
    .blogsBanner {
        padding-top: 5rem;
    }
    .blogsBannerLeft p{
        margin-top: 3rem;
        padding-left: 0;
    }
    .blogsBannerLeft .dropArrow{
        display: none;
    }
    .blogsBannerRight{
        width: 100%;
    }
    .blogsSlider .slick-track{
        padding: 8rem 0rem 7rem;
    }
    .blogsSlider .slick-track .slick-current .blogSlideImage,
    .blogsSlider .blogsSlide,
    .blogSlideImage {
        height: 32rem;
    }
    .blogsSlideContent .blogsSlideText {
        line-height: 3.5rem;
    }
    .blogsListSec .blogContent .blogHeading {
        font-size: 4rem;
        line-height: 5rem;
    }
    .blogsListSec .blogContent .blogsContent {
        font-size: 3rem;
        line-height: 3.8rem;
    }
    .readMoreBlog a {
        font-size: 3rem;
        line-height: 4rem;
    }
    .blogsListSec .blogContent{
        padding-top: 0rem;
    }
    .caseStudyBox .col-sm-6,
    .moreCaseStudy .col-sm-6:nth-last-child(-n+2){
        margin-bottom: 4rem;
    }
    .caseStudyBox .caseStudyCard{
        padding: 7rem 6rem;
    }
    /* Blog Details Page End */
    /* Contact / Hire developer page Start */
    .contactBannerLeft h2{
        line-height: 8rem;
    }
    .contactBannerLeft h2 br{
        display: none;
    }
    .formPageBanner {
        padding-top: 11rem;
    }
    .contactBannerBox .contactBannerLeft,
    .contactBannerBox .contactBannerRight{
        width: 100%;
    }
    .contactBannerBox .contactBannerRight{
        margin-top: 8rem;
    }
    .contactBannerBox .contactBannerRight span{
        width: 78%;
        float: unset;
        margin: 0 auto;
    }
    .bannerFormLeft,
    .bannerFormRight{
        width: 100%;
    }
    .pagesLinks {
        padding-bottom: 10rem;
    }
    .bannnerBoxSocial{
        position: relative;
        top: 0;
        margin-bottom: 6rem;
    }
    .pageLinkLists .pageLinkList{
        width: 57.9rem;
        padding: 3.9rem 3rem;
    }
    .bannerSocialList{
        width: 50%;
        margin-bottom: 4rem;
    }
    .formSections{
        padding: 12rem 0rem;
    }
    .bannerSocialList .bannerSocialText {
        font-size: 3rem;
        line-height: 4rem;
    }
    .bannerSocialList .bannerSocialText{
        color: var(--colorGrey4);
    }
    .bannerSocialIcon {
        width: 5.4rem;
    }
    .pageLinkLists .pageLinkList{
        margin-bottom: 3.2rem;
    }
    .pageLinkLists span.activePage::after{
        top: 38%;
        right: 0;
    }
    .formDesign .form-control {
        padding: 2.5rem 2rem;
    }
    .form-group.formIconSec .formFieldIcon {
        width: 4rem;
        top: 2.5rem;
    }
    .formDesign .form-control,
    .rangeCounter .fontSize14,
    .rangeCounter .budgetInput input,
    /* .checkBoxSec label */
    .customChecked,
    .error{
        font-size: 3.1rem;
        line-height: 4rem;
    }
    .form-group.formIconSec .form-control {
        padding-left: 8rem;
    }
    .intl-tel-input.allow-dropdown input, 
    .intl-tel-input.allow-dropdown input[type=tel], 
    .intl-tel-input.allow-dropdown input[type=text], 
    .intl-tel-input.separate-dial-code input, 
    .intl-tel-input.separate-dial-code input[type=tel], 
    .intl-tel-input.separate-dial-code input[type=text]{
        padding-left: 47px;
        margin-bottom: 1rem;
    }
    .intl-tel-input.allow-dropdown .selected-flag {
        height: 9rem;
    }
    .rangeCounter .budgetInput input {
        width: 20rem;
        padding-left: 0rem;
        padding: 1rem 2rem 1rem 3rem;
        line-height: 3rem;
    }
    .budgetInput .budgetCurrency {
        top: 1.7rem;
        left: 1rem;
    }
    .formDesign .form-control{
        margin-bottom: 1rem;
    }
    /* .checkBoxSec input[type="checkbox"]:checked+label::before, 
    .checkBoxSec input[type="checkbox"]:not(:checked)+label::before {
        height: 4rem;
        width: 4rem;
    }
    .checkBoxSec input[type="checkbox"]:checked+label, 
    .checkBoxSec input[type="checkbox"]:not(:checked)+label {
        padding-left: 6.4rem;
    } */

    .customChecked{
        padding-left: 2rem;
    }
    .customChecked::before{
        height: 4rem;
        width: 4rem;
    }

    .formDesign .form-group {
        margin-bottom: 2rem;
    }
    .formBottom .btnStyle{
        line-height: 6rem;
    }
    .noteText{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .formGroup.formBottom{
        margin-top: 4rem;
    }
    .fontSize40 {
        font-size: 5.5rem;
        line-height: 6.46rem;
    }
    .hireDevsBannerBox p {
        line-height: 5.5rem;
    }
    .hireDevsBannerBox h2{
        margin-bottom: 3.8rem;
    }
    .formDesign .form-group.checkBoxSec {
        margin-bottom: 3rem;
    }
    .hireStepsBottom .row .col-sm-4{
        width: 33.3%;
        margin-top: 10.7rem;
    }
    .hireStepsTop span {
        line-height: 4rem;
    }
    .hireStepsImg{
        height: 10rem;
        margin-bottom: 2rem;
    }
    .hireStepsImg span{
        height: 100%;
    }
    .hireStepsBottom {
        padding: 4.5rem 2rem 0rem;
    }
    .hireStepsFinal .stepsFinalIcon img{
        width: 12rem;
    }
    .hireStepsFinal .stepsFinalIcon2 img{
        width: 12rem;
    }
    .hireStepsSecn .hireStepsFinal {
        right: 5rem;
        bottom: 10rem;
    }
    .hireDevsSteps::before{
        top: -6.5rem;
    }
    .hireDevsSteps{
        padding: 3rem 1.5rem;
    }
    .sectionTop{
        margin-top: 13.5rem;
    }
    .teamBanner{
        height: 70rem;
    }
    .ourManifestoBox{
        padding: 6rem 0rem;
    }
    .manifestoLeft,
    .manifestoRight{
        width: 100%;
    }
    .manifestoLeft h2 br{
        display: none;
    }
    .manifestoRight{
        padding-left: 0rem;
    }
    .manifestoSlide p {
        line-height: 4rem;
    }
    .leadershipTeamBox .col-lg-3{
        width: 50%;
    }
    .leadershipTeamCard {
        height: 71rem;
    }
    .leadershipTemTop .mainContent br{
        display: none;
    }
    /* Contact / Hire developer page End */
    /* Our Work Page Start */
    .ourWorkBannerBox .ourWorkBannerLeft{
        width: 100%;
        padding-right: 0rem;
        padding-bottom: 5rem;
    }
    .ourWorkBannerBox .ourWorkBannerRight{
        width: 100%;
    }
    .ourWorkBannerLeft h2{
        line-height: 10.5rem;
    }
    .worksBannerBottom{
        position: relative;
        display: block;
        float: left;
        width: 100%;
    }
    .worksSubBanner{
        width: 100%;
    }
    .worksSubBannerText{
        width: 100%;
    }
    .storiesRight p{
        font-size: 3.5rem;
        line-height: 5rem;
    }
    .testimonialSlides .testimonialContents{
        line-height: 4rem;
        font-size: 3rem;
    }
    .testimonialSlides .testimonialbyImg{
        height: 10rem;
        width: 10rem;
        min-width: 10rem;
    }
    .testimonialSlides .testimonialBys{
        line-height: 5.3rem;
        margin-bottom: 1rem;
    }
    .testimonialSlides .testimonialRoles{
        line-height: 2.8rem;
    }
    .testimonialSliders .slick-dots li{
        height: 2.2rem;
        width: 2.2rem;
    }
    .techInnerTabs .nav-tabs .nav-link{
        width: 45rem;
    }
    .servicesTabsBox .nav-tabs .nav-link{
        font-size: 4rem;
        padding: 2.5rem 2rem;
    }
    .servicesBannerRight{
        padding-right: 0;
        padding-left: 5rem;
    }
    .servicesTabs {
        margin-top: -4.5rem;
    }
    .servicesBanner{
        height: 62rem;
    }
    .industriesTabContent .col-lg-4{
        width: 33.3%;
    }
    .industriesTypes .industryInfo,
    .techContentCard .techContent{
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
    .industriesTypes .industiesIcon span{
        height: 18rem;
    }
    .industriesTypes .industiesIcon span img{
        height: 100%;
    }
    .techInnerTabs .col-sm-4{
        width: 50%;
    }
    .techCardImage span{
        height: 14rem;
        width: 14rem;
    }
    .testimonialsHeadBox h2{
        font-size: 6rem;
        line-height: 7rem;
    }
    .testimonialsHeadBox p{
        line-height: 4rem;
    }
    .slidersBoxTestimonial .col-md-4{
        width: 50%;
    }
    .slidersBoxTestimonial .slideImageTestimonial {
        height: 35rem;
        min-height: 35rem;
    }
    .testContent{
        font-size: 3rem;
        line-height: 4rem;
    }
    .expressiveUiSlider .slick-dots li{
        margin: 0 1rem;
    }
    /* Our Work Page End */
    .footMidSec:last-child .footTopHead{
        padding-bottom: 4rem;
    }
    .leadershipTeamCard .cardPopupRight{
        min-width: fit-content;
    }
    .leadershipTeamCard .cardPopupRight span{
        width: 5.5rem;
    }
    .leadershipTeamBox .col-lg-3{
        text-align: center;
        display: flex;
    }
    .leadershipTeamCard {
        height: 78rem;
    }
    .leadershipTeamCard{
        width: 280px;
        margin: 0 auto;
    }
    .cardPopupLeft {
        text-align: left;
    }
    .caseStudyDetails.caseStudyDetails2 {
        padding: 2.4rem 0rem 13rem;
    }
    .cardTestimonials {
        height: 100%;
    }
    .menuDropDown .menuDropBox{
        position: relative;
        display: block;
        padding: 0px;
        border-radius: 0;
        box-shadow: none;
        top: 0px;
        margin-top: 3rem;
    }
    .menuDropBox ul li {
        margin-bottom: 4rem;
    }
    .menuDropDown .nav-link .dropIcon{
        display: none;
    }
    .form-group.formIconSec .formFieldIcon.formFieldIcon2 {
        top: 3rem;
    }
}

@media (max-width: 560px) { 

    /* Home Page Start */
    .footerTop .col-sm-4,
    .footerTop .col-sm-5 {
        width: 100%;
        margin-bottom: 5rem;
    }
    .footMidSocial ul li span{
        display: none;
    }
    .footerRight {
        margin-top: 4rem;
    }
    .mainBannerLeft{
        margin-top: 5rem;
    }
    .statsSecInner .statsCount{
        font-size: 6.6rem;
        line-height: 8rem;
    }
    .statsSection{
        padding: 2rem 2.4rem;
    }
    .companyStatsBox {
        padding: 3rem 0rem 0rem;
    }
    .whyUsBox,
    .businessTypeCards{
        padding: 4rem 4rem 4rem;
    }
    .whyusBoxs .col-md-4 {
        margin-top: 12.8rem;
        width: 100%;
    }
    .whyUsBox .whyUsCount {
        top: -9rem;
        font-size: 12rem;
        line-height: 11rem;
    }
    .businessTypeBox .col-md-6 {
        width: 100%;
        margin-bottom: 5rem;
    }
    .businessTypeBox .col-md-6:last-child{
        margin-bottom: 0;
    }
    .expressiveUiSlider.slick-initialized .slick-slide{
        flex-wrap: wrap;
    }
    .expressiveUiSlider .expressiveUiLeft,
    .expressiveUiSlider .expressiveUiRight{
        width: 100%;
    }
    .expressiveUiSlider .expressiveUiRight{
        margin-top: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .expressiveUiSlider .expressiveUiRight span{
        width: 40%;
        padding-right: 0rem;
        padding: 0rem 2rem;
    }
    .expressiveUiBox{
        padding: 5rem 0rem 5rem;
    }
    .expressiveUiSlider .expressiveUiLeft {
        padding-right: 0rem;
    }
    .testimonialSlide .col-sm-6{
        width: 100%;
        margin-bottom: 4rem;
    }
    .testimonialSlider.slick-initialized .slick-prev::before, 
    .testimonialSlider.slick-initialized .slick-next::before{
        font-size: 4rem;
    }
    .testimonialSlider.slick-initialized .slick-next{
        right: 45vw;
    }
    .testimonialSlider.slick-initialized .slick-prev{
        left: 45vw;
    }
    .footSocial ul li {
        margin-right: 4rem;
        height: 5.5rem;
        width: 5.5rem;
    }
    .footLeftList span a, .footerBtm ul li a {
        font-size: 3rem;
        line-height: 5rem;
    }
    .footLeftList span a {
        width: 35rem;
    }
    .footerLeft .footHeading {
        font-size: 3.5rem;
        line-height: 5rem;
    }
    .footMidList ul li a, .footTopHead {
        font-size: 3.3rem;
        line-height: 5rem;
    }
    .whyUsHeading .whyUsHeadings h2::before{
        left: -1.7rem;
    }
    .fontSize13 {
        font-size: 3rem;
        line-height: 4rem;
    }
    .faqsListSection.activeDropdown .faqsQuestion{
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
    .slidesCounter{
        left: 0;
    }
    .fontSize48 {
        font-size: 7rem;
        line-height: 8rem;
    }
    .companyStatsInner{
        flex-direction: column;
    }
    .statsSection, .statsSection:nth-child(2){
        width: 100%;
    }
    .statsSection{
        border-right: none;
    }
    .statsSecInner{
        width: 50%;
        text-align: center;
    }
    .statsSecInner:first-child{
        border-right: 1px solid var(--colorWhite);
    }
    .statsSection:first-child{
        text-align: center;
    }
    .statsSecInner{
        margin-bottom: 0;
        padding: 4rem 2rem;
    }
    .statsSection{
        padding: 0rem 0rem;
        display: flex;
    }
    .companyStatsInner{
        padding: 4rem 2rem;
    }
    .statsSecInner:not(:last-child){
        margin-bottom: 0;
    }
    .statsSecInner{
        border-bottom: 1px solid var(--colorWhite);
        height: auto;
    }
    .statsSection:last-child .statsSecInner{
        border-bottom: none;
    }
    /* Home Page End */
    .coreValueBox{
        width: 100%;
        padding-left: 0;
    }
    .yourIdeaSec{
        width: 100%;
        border-right: none;
        padding: 0;
    }
    .yourIdeaInner{
        flex-wrap: wrap;
    }
    .yourIdeaLeft h3{
        text-align: left;
    }
    .yourIdeaRight .smallContent{
        margin: 2rem 0 3rem;
    }
    .yourIdeaLeft h3 br,
    .yourIdeaRight .smallContent br{
        display: none;
    }
    .yourIdeaInner{
        padding: 6rem 0rem;
    }
    .footMidSec:last-child .footTopHead {
        padding-bottom: 5rem;
    }
    .footerFormBox{
        background: none;
        background-color: var(--colorOrange);
        border-radius: 1.5rem;
    }
    .footerFormSec {
        padding: 5rem 5rem;
        justify-content: center;
    }
    .footFormText, .getQuoteBtn{
        margin-top: 0rem;
    }
    .footerForms{
        margin-bottom: -8rem;
    }
    .aboutSecLeft .sectionHeading h2::after {
        width: 60%;
    }
    .aboutUsSectionBox {
        padding: 5rem 0rem 0rem 0rem;
    }
    .blogsListSec .blogImage,
    .blogsListSec .blogContent{
        width: 100%;
    }
    .blogsListSec .blogContent{
        margin-top: 4rem;
    }
    .blogsSlider .slick-list{
        padding: 0;
    }
    .blogsSlider .slick-track .slick-current .blogSlideImage, 
    .blogsSlider .blogsSlide,
    .blogSlideImage {
        height: 58rem;
        /* max-height: 58rem; */
    }
    .formDesign .form-control, 
    .fontSize14, 
    .rangeCounter .budgetInput input, 
    .yourIdeaRight .smallContent,
    .blogsSlideContent .blogsSlideText{
        font-size: 3rem;
        line-height: 4rem;
    }
    .readMoreBlog a {
        font-size: 3rem;
        line-height: 5rem;
    }
    .bannerSocialList{
        width: 100%;
    }
    .bannerSocialIcon {
        width: 6rem;
    }
    .contactBannerBox .contactBannerRight span{
        width: 100%;
    }
    .fontSize14,
    .yourIdeaRight .smallContent{
        font-size: 3rem;
        line-height: 4rem;
    }
    .blogsSlideContent .blogsSlideText,
    .formDesign .form-control,
    .rangeCounter .budgetInput input{
        font-size: 3.3rem;
        line-height: 5rem;
    }
    .form-group.formIconSec .formFieldIcon{
        top: 3rem;
    }
    .form-control.rangePicker{
        flex-direction: column;
    } 
    .rangePicker .rangeCounter, .rangePicker .rangeSlider{
        width: 100%;
    }
    .rangePicker .rangeCounter{
        margin-bottom: 3rem;
    }
    .rangeCounter .budgetInput input{
        padding: 0.5rem 2rem 0rem 3rem;
        line-height: 3.3rem;
    }
    .budgetInput .budgetCurrency{
        top: 0.7rem;
    }
    .intl-tel-input.allow-dropdown .selected-flag {
        height: 10rem;
    }
    .hireStepsBottom .row{
        margin-left: -2rem;
        margin-right: -2rem;
    }
    .hireStepsBottom .col-sm-4{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .hireStepsSecn .hireStepsFinal {
        right: 3rem;
        bottom: 12rem;
    }
    .hireStepsFinal .stepsFinalIcon img,
    .hireStepsFinal .stepsFinalIcon2 img{
        width: 10rem;
    }
    .hireStepsFinal .stepsFinalIcon2{
        top: -7rem;
    }
    .hireStepsFinal .stepsFinalIcon{
        right: -2rem;
    }
    .fontSize24{
        font-size: 3.5rem;
    }
    .bannerSocialList{
        margin-bottom: 3rem;
    }
    .leadershipTeamBox .col-lg-3 {
        width: 100%;
    }
    .caseStudyContent h3{
        margin-bottom: 2.5rem;
    }
    .caseStudyContent p{
        margin-bottom: 3.8rem;
    }
    .fontSize144 {
        font-size: 11rem;
        line-height: 11.4rem;
    }
    .storiesLeft span{
        display: none;
    }
    .successStoriesSec .storiesLeft{
        width: 0;
        padding: 0;
    }
    .successStoriesSec .storiesRight{
        width: 100%;
    }
    .servicesTabs {
        margin-top: 7rem;
    }
    .servicesTabsBox .nav-tabs .nav-item{
        width: 100%;
        margin-bottom: 3rem;
        margin-right: 0;
    }
    .servicesTabsBox .nav-tabs .nav-link{
        margin: 0 auto;
    }
    .servicesBanner {
        height: 75rem;
    }
    .servicesBanner .bannerInner {
        height: 75rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .servicesBannerRight{
        padding-left: 0;
        padding-top: 5rem;
    }
    .servicesTabsBox .nav-tabs .nav-link {
        width: 54rem;
        padding: 3rem 2rem;
    }
    .servicesSecRight{
        align-items: center;
        padding-left: 0;
        padding-top: 5rem;
    }
    .servicesSecBtm .servicesSecLeft .serviceCardIcon{
        display: none;
    }
    .servicesCardsBtms2 p{
        padding-right: 0;
    }
    .servicesSecBtm .col-sm-6 {
        margin-bottom: 4rem;
    }
    .servicesCards p {
        font-size: 3rem;
        line-height: 4.2rem;
    }
    .servicesCards h4 {
        font-size: 5rem;
        line-height: 7rem;
    }
    .industriesTabContent .col-lg-4 {
        width: 50%;
    }
    .industriesTabContent .row{
        justify-content: center;
    }
    .technologyTabContent{
        flex-wrap: wrap;
    }
    .technologyTabContent .techInnerTabs,
    .technologyTabContent .techContentBox{
        width: 100%;
        margin-right: 0;
    }
    .techInnerTabs .nav-tabs .nav-link {
        width: 50rem;
        font-size: 4rem;
        line-height: 6rem;
    }
    .technologyTabContent .techContentBox{
        margin-right: 0;
        margin-top: 8rem;
    }
    .slidersBoxTestimonial .col-md-4 {
        width: 100%;
    }
    .slidersBoxTestimonial .slideImageTestimonial {
        height: 50rem;
        height: 50rem;
    }
    .moreBoxCardsNew .col-md-12 .row {
        margin-left: -20px;
        margin-right: -20px;
    }
    .moreBoxCardsNew .col-md-12 .col-sm-12 {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (max-width: 414px) {
    .container {
        padding: 0px 20px;
    }

    /* Home Page Start */
    .expressiveUiSlider .expressiveUiRight span{
        width: 50%;
    }
    .footerFormSec{
        padding: 5rem 2.9rem;
    }
    .footFormText{
        margin-right: 2rem;
    }
    .mutualBenefitBoxs .mutualBenefitLeft .mutualBenefitBy::before{
        bottom: 0.5rem;
    }
    .moreBlogsBox .moreBoxCards .col-sm-4{
        width: 100%;
    }
    .commonDetailsBox .commonContentImg{
        padding: 0;
    }
    .moreBlogsBox .moreBoxCards .recentPostBox .recentPostImg {
        height: 50rem;
    }
    .techInnerTabs .nav-tabs .nav-link {
        width: 100%;
    }
    .customChecked{
        padding-left: 1.5rem;
    }
    .formGroup.formBottom{
        padding: 0rem;
    }
    /* Home Page End */
}