@font-face {
    font-family: "HindSiliguri-Regular";
    src: url(../fonts/HindSiliguri-Regular.ttf);
}
@font-face {
    font-family: "HindSiliguri-Medium";
    src: url(../fonts/HindSiliguri-Medium.ttf);
}
@font-face {
    font-family: "HindSiliguri-Bold";
    src: url(../fonts/HindSiliguri-Bold.ttf);
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url(../fonts/Inter-SemiBold.ttf);
}
@font-face {
    font-family: "Inter-Bold";
    src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: "MontserratAlternates-Regular";
    src: url(../fonts/MontserratAlternates-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins-Light";
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: "DMSans-Regular";
    src: url(../fonts/DMSans-Regular.ttf);
}

@font-face {
    font-family: "Proxima-Nova-Regular";
    src: url(../fonts/Proxima-Nova-Regular.ttf);
}

/* Variables for color and font family Start */

:root {
    /* Colors */
    --colorWhite: #fff;
    --colorBlack: #000;
    --colorBlack2: #292830;
    --colorBlack3: #272727;
    --colorBlack4: #201E1E;
    --colorBlack5: #464646;
    --colorBlack6: #252B42;
    --colorBlack7: #373738;
    --colorBlue: #1B0A6F;
    --colorBlue2: #012169;
    --colorOrange: #ED642B;
    --colorOrange2: #FB8200;
    --colorGrey: #1E2833;
    --colorGrey2: #C1C1C1;
    --colorGrey3: #F5F4F4;
    --colorGrey4: #737373;
    --colorGrey5: #C6C6C6;
    --colorGrey6: #3F3F3F;
    
    /* Font Family */
    --hindRegularFont: "HindSiliguri-Regular";
    --hindMediumFont: "HindSiliguri-Medium";
    --hindBoldFont: "HindSiliguri-Bold";

    --interSemoboldFont: "Inter-SemiBold";
    --interBoldFont: "Inter-Bold";

    --montserratRegularFont: "Montserrat-Regular";
    --montserratMediumFont: "Montserrat-Medium";
    --montserratSemiboldFont: "Montserrat-SemiBold";
    --montserratBoldFont: "Montserrat-Bold";
    --montserratLightFont: "Montserrat-Light";
    --montserratAltRegularFont: "MontserratAlternates-Regular";

    --poppinsRegularFont: "Poppins-Regular";
    --poppinsMediumFont: "Poppins-Medium";
    --poppinsSemiboldFont: "Poppins-SemiBold";
    --poppinsBoldFont: "Poppins-Bold";
    --poppinsLightFont: "Poppins-Light";

    --dmSansRegularFont: "DMSans-Regular";

    --proximaRegularFont: "Proxima-Nova-Regular";
}

/* Variables for color and font family End */
html{
    font-size: 62.5%;
}
body {
    font-family: var(--hindRegularFont);
    color: var(--colorBlack);
    counter-reset: section;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button,
a {
    transition: all 0.35s ease;
}

button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}

a {
    outline: none;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:focus {
    text-decoration: none;
}

/* Common Style Start */
.navbar-expand-md .navbar-nav .nav-link,
.navbar-nav .nav-link{
    padding-left: 0;
    padding-right: 0;
}
.boxs {
    float: left;
    width: 100%;
    display: block;
}
.container {
    max-width: 132.0rem;
}
.flexBox {
    display: flex;
}
.sectionTop{
    margin-top: 12.1rem;
    transition: all 0.3s ease;
    min-height: calc(100vh - 52.6rem);
}
/* .sectionTopScroll{
    margin-top: 9.1rem;
    transition: all 0.3s ease;
} */
.primaryColor{
    color: var(--primaryColor);
}
.colorWhite{
    color: var(--colorWhite);
}
.colorBlack{
    color: var(--colorBlack);
}
.btnStyle{
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-family: var(--montserratMediumFont);
    color: var(--colorWhite);
    background: var(--colorOrange);
    border: .2rem solid var(--colorOrange);
    border-radius: .8rem;
    padding: 1.4rem 2.4rem;
}
.btnStyle:hover{
    background: transparent;
    color: var(--primaryColor);
}
.btnStyle2{
    font-size: 1.6rem;
    line-height: 1.6rem;
}
.btnStyle3{
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.blueBtn{
    background: var(--colorBlue);
    color: var(--colorWhite);
    border-color: var(--colorBlue);
}
.whiteBtn{
    background: var(--colorWhite);
    color: var(--colorOrange);
    border-color: var(--colorWhite);
}
.transparentBtn{
    background: transparent;
    color: var(--colorOrange);
}
.transparentBtn:hover{
    background: var(--colorOrange);
    color: var(--colorWhite);
}
.largeBtn{
    padding-left: 8.4rem;
    padding-right: 8.4rem;
}
.smallBtn{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
/* Common Classes Start */

.primaryColorBg{
    background: var(--colorOrange);
}
.greyColorBg{
    background: var(--colorGrey);
}
.regularFont{
    font-family: var(--regularFont);
}
.mediumFont{
    font-family: var(--mediumFont);
}
.boldFont{
    font-family: var(--boldFont);
}
.fontSize120{
    font-size: 12.0rem;
    line-height: 12.0rem;
}
.fontSize96{
    font-size: 9.6rem;
    line-height: 9.6rem;
}
.fontSize85{
    font-size: 8.5rem;
    line-height: 8.5rem;
}
.fontSize72{
    font-size: 7.2rem;
    /* line-height: 7.2rem; */
    line-height: 9.2rem;
}
.fontSize64{
    font-size: 6.4rem;
    line-height: 7.4rem;
}
.fontSize48{
    font-size: 4.8rem;
    line-height: normal;
}
.fontSize36{
    font-size: 3.6rem;
    line-height: 4.4rem;
}
.fontSize30{
    font-size: 3.0rem;
    line-height: 3.75rem;
}
.fontSize28{
    font-size: 2.8rem;
    line-height: normal;
}
.fontSize26{
    font-size: 2.6rem;
    line-height: normal;
}
.fontSize24{
    font-size: 2.4rem;
    line-height: 2.8rem;
}
.fontSize22{
    font-size: 2.2rem;
    line-height: 2.2rem;
}
.fontSize20{
    font-size: 2.0rem;
    line-height: normal;
}
.fontSize18{
    font-size: 1.8rem;
    line-height: 2.8rem;
}
.fontSize16{
    font-size: 1.6rem;
    line-height: normal;
}
.fontSize14{
    font-size: 1.4rem;
    line-height: normal;
}
.fontSize13{
    font-size: 1.3rem;
    line-height: 1.95rem;
}
.fontSize12{
    font-size: 1.2rem;
    line-height: normal;
}
.fontSize10{
    font-size: 1.0rem;
    line-height: normal;
}
.fontSize9{
    font-size: 0.9rem;
    line-height: 0.9rem;
}
/* Common Style End */

/* Header Start */
.header{
    position: fixed;
    padding: 3.3rem 0rem;
    background-color: var(--colorWhite);
    z-index: 99;
    transition: all 0.3s ease;
}
.header.fixedHeader{
    box-shadow: 0 .3rem .6rem 0 rgb(0 0 0 / 16%);
    transition: all 0.3s ease;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-expand-md .navbar-nav .nav-link, 
.navbar-nav .nav-link{
    font-size: 1.4rem;
    color: var(--colorBlack2);
    margin-right: 6.6rem;
    font-family: var(--hindRegularFont);
}
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link.activeItem{
    color: var(--colorBlue);
}
.navbar{
    padding: 0rem;
}
.navbar-expand-md .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}
.headerBtn .btnStyle:hover {
    animation: none;
    -webkit-animation: none;
    box-shadow: none;
}
.navbar-toggler:focus{
    box-shadow: none;
    outline: none;
}
.headerNav a{
    font-family: var(--hindRegularFont);
    padding: 0.9rem 2.0rem;
}
.navbar-brand{
    display: inline-block;
    float: left;
    width: 17.6rem;
    padding: 0rem;
    margin: 0rem;
}
/* Header End */

/* Footer Start */
.footerBox{
    padding: 4.1rem 0rem 2.7rem;
}
.footerBtm{
    padding-top: 4.5rem;
}
.footerBtm ul li{
    margin-right: 3.9rem;
    display: inline-block;
    float: left;
}
.footerBtm ul li:last-child{
    margin-right: 0rem;
}
.footerBtm ul li a{
    font-family: var(--dmSansRegularFont);
    color: var(--colorWhite);
    font-size: 1.5rem;
    line-height: 1.953rem;
    letter-spacing: -0.02rem;
}
.footerLeft{
    margin-top: 1.9rem;
}
.footerLeft .footHeading{
    color: var(--colorWhite);
    font-family: var(--dmSansRegularFont);
    font-size: 2.2rem;
    line-height: 2.864rem;
    letter-spacing: -0.03rem;
}
.footTopHead{
    color: var(--colorOrange);
    font-size: 1.8rem;
    line-height: 1.71rem;
    font-family: var(--poppinsSemiboldFont);
    margin-bottom: 3.4rem;
}
.footerMid .footMidSec{
    display: inline-block;
    float: left;
    width: 33%;
}
.footMidList ul li:not(:last-child){
    margin-bottom: 3.4rem;
}
.footMidList ul li a{
    font-family: var(--poppinsRegularFont);
    font-size: 1.8rem;
    line-height: 1.71rem;
    color: var(--colorWhite);
    display: inline-block;
    float: left;
}
.footMidSocial ul li{
    position: relative;
}
.footMidSocial ul li span{
    position: absolute;
    left: -3.3rem;
}
.footMidList.footMidSocial ul li a{
    display: flex;
    align-items: center;
}
.footMidSec:last-child .footTopHead{
    padding-bottom: 1.8rem;
}
.footerRight{
    margin-top: 9.0rem;
}
.footerRight .footRightHeading{
    font-size: 2.4rem;
    line-height: 2.772rem;
    font-family: var(--poppinsSemiboldFont);
    color: var(--colorWhite);
    margin-bottom: 1.6rem;
}
.footSocial ul li{
    display: inline-block;
    float: left;
    margin-right: 3.2rem;
}
.footSocial ul li:last-child{
    margin-right: 0rem;
}
.footSocial{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footLeftList span{
    margin-bottom: 1.5rem;
}
.footHeading{
    margin-bottom: 2.1rem;
}
.footLeftList span a{
    font-size: 1.4rem;
    line-height: 1.33rem;
    font-family: var(--montserratAltRegularFont);
    color: var(--colorWhite);
    width: 17.1rem;
    text-align: center;
    padding: 1.036rem 0rem;
    background: var(--colorOrange);
    border-radius: .8rem;
}
/* Footer End */

/* Home Page Start */
/* Company Stats Start */

.companyStatsBox{
    padding: 5.0rem 4.2rem 0rem;
}
.companyStatsInner{
    background: var(--colorBlue);
    padding: 4.0rem 4.0rem;
    box-shadow: 0rem 1.0rem 3.0rem 0rem rgba(0,0,0,0.25);
}
.companyStatsInner{
    display: flex;
}
.statsSecInner{
    display: flex;
    flex-direction: column;
}
.statsSecInner:not(:last-child){
    margin-bottom: 6.0rem;
}
.statsSecInner .statsCount{
    font-size: 9.6rem;
    line-height: 9.12rem;
    font-family: var(--interSemoboldFont);
    color: var(--colorWhite);
    margin-bottom: 1.6rem;
}
.statsSecInner .statsOf{
    color: var(--colorWhite);
    font-family: var(--poppinsRegularFont);
}
.statsSection{
    padding: 2.0rem 4.2rem;
    border-right: 0.2rem solid var(--colorWhite);
}
.statsSection:first-child{
    text-align: right;
}
.statsSection:nth-child(2){
    text-align: center;
    width: auto;
}
.statsSection:last-child{
    border-right: none;
}
/* Company Stats End */
/* Why Us Section Start */
.whyUsHeading{
    margin-bottom: 5.0rem;
}
.whyUsHeading .whyUsHeadings h2{
    color: var(--colorOrange);
    font-family: var(--poppinsMediumFont);
    position: relative;
    display: inline;
}
.whyUsHeading .whyUsHeadings h2::before{
    position: absolute;
    content: 'why ?';
    left: -8.7rem;
    top: -5.2rem;
    font-family: var(--poppinsRegularFont);
    color: var(--colorGrey5);
    font-size: 12.0rem;
    line-height: 12.0rem;
    opacity: 40%;
    letter-spacing: .25rem;
    z-index: -1;
}
.whyUsSection{
    padding-top: 10.7rem;
}
.whyusBoxs .row{
    justify-content: center;
    margin-left: -2.5rem;
    margin-right: -2.5rem;
}
.whyusBoxs .col-md-4{
    margin-top: 8.8rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.whyUsBox{
    padding: 1.7rem 3.0rem 4.0rem;
    box-shadow: 0rem 0rem 4.0rem 0rem rgba(0,0,0,0.12);
    border-radius: 1.0rem;
    background: var(--colorWhite);
    height: 100%;
    position: relative;
}
.whyUsBox .whyUsCount{
    position: absolute;
    left: -1rem;
    top: -6rem;
    font-size: 12rem;
    line-height: 9rem;
    font-family: var(--poppinsSemiboldFont);
    color: var(--colorGrey2);
    opacity: 50%;
    z-index: -1;
}
.whyUsBox .whyUsImage{
    margin-bottom: 1.8rem;
}
.whyUsBox .whyusSecHeading{
    font-family: var(--poppinsRegularFont);
    margin-bottom: 2.0rem;
}
.whyUsBox .whyusSecDetail{
    font-family: var(--poppinsRegularFont);
}
/* Why Us Section End */

/* Business Type Section Start */
.businessTypeBox {
    padding: 0rem 9.0rem;
}
.businessTypeCards{
    padding: 3.5rem 2.4rem 2.7rem;
    background: var(--colorOrange);
}
.businessTypeCards .cardSupHead{
    margin-bottom: 4.2rem;
    color: var(--colorWhite);
    font-family: var(--poppinsRegularFont);
    position: relative;
}
.businessTypeCards .cardSupHead::before{
    position: absolute;
    content: '';
    height: 0.1rem;
    width: 8.1rem;
    left: 0rem;
    bottom: -0.8rem;
    background: var(--colorWhite);
}
.businessTypeCards .cardSecHeading{
    padding-bottom: 0.8rem;
    color: var(--colorWhite);
    font-family: var(--poppinsRegularFont);
}
.businessTypeCards .cardSecHeading span{
    font-family: var(--poppinsBoldFont);
    font-style: italic;
}
.businessTypeCards .cardSecContent{
    color: var(--colorWhite);
    font-family: var(--poppinsLightFont);
    padding-bottom: 4.0rem;
}
.businessTypeCards .cardBottomSec a{
    background: var(--colorWhite);
    border-radius: 0rem;
    color: var(--colorOrange);
    padding: 1.1rem 0.7rem 1.1rem 2.7rem;
    border-color: var(--colorWhite);
}
.businessTypeCards .cardBottomSec a .arrowIcon{
    float: right;
    padding-left: 2.0rem;
}
.businessTypeBox .businessTypeCards {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.businessTypeBox .row{
    margin-left: -4.4rem;
    margin-right: -4.4rem;
}
.businessTypeBox .col-md-6{
    padding-left: 4.4rem;
    padding-right: 4.4rem;
}
.businessTypeBox{
    padding: 8.7rem 9rem 10.9rem;
}
/* Business Type Section End */
/* Common Box Section Non Profit Organization Start */
.commonBox{
    padding: 5.1rem 0rem;
    background: var(--colorOrange);
}
.nonProfitOrg{
    background: url('../img/orgBanner.png') no-repeat center center;
    background-size: cover;
}
.commonBoxInner .mainHeading{
    font-family: var(--poppinsSemiboldFont);
    padding-bottom: 2.0rem;
}
.commonBoxInner .mainContent{
    font-family: var(--montserratSemiboldFont);
    padding-bottom: 4.0rem;
    line-height: 2.6rem;
}
.commonBoxInner .bottomBtn .btnStyle{
    /* padding-left: 7.0rem;
    padding-right: 7.0rem; */
    width: 25.8rem;
}
/* Common Box Section Non Profit Organization End */

/* Great App Concept Section Start */
.appConcept{
    background: var(--colorGrey3);
}
.appConcept .commonBoxInner .mainHeading{
    font-family: var(--poppinsRegularFont);
}
.appConcept .commonBoxInner .mainContent{
    font-family: var(--montserratLightFont);
}
.appConcept .commonBoxInner .btnStyle{
    width: 15.6rem;
}
/* Great App Concept Section End */

/* Faqs Section Start */

.faqsInner {
    padding: 9.0rem 6.0rem;
}
.faqsTopSection{
    padding: 0rem 3.0rem 7.5rem;
}
.faqsTopSection span{
    margin-bottom: 4.2rem;
}
.faqsTopSection span:last-child{
    margin-bottom: 0rem;
}
.faqsTopSection .subContent{
    color: var(--colorBlack5);
    font-family: var(--montserratRegularFont);
    line-height: 2.5rem;
}
.faqsTopSection span .pageLink{
    font-family: var(--montserratMediumFont);
    color: var(--colorBlue);
}
.faqAnswer{
    display: none;
}
.faqsListSection{
    width: 100%;
    display: inline-block;
    float: left;
    border: 0.1rem solid #848484;
    border-radius: 0.8rem;
    overflow: hidden;
    margin-bottom: 3.1rem;
}
.faqsListSection:last-child{
    margin-bottom: 0rem;
}
.faqsListSection .faqsQuestion{
    background: url('../img/faqBg.png') no-repeat center center;
    background-size: cover;
    padding: 4.0rem 2.0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--colorWhite);
    font-family: var(--montserratSemiboldFont);
}
.faqsListSection .faqAnswer{
    padding: 0rem 10.5rem 4.0rem 2.0rem;
    font-family: var(--montserratLightFont);
    color: var(--colorBlack3);
    line-height: 2.6rem;
}
.faqsListSection .faqAnswer span{
    font-family: var(--montserratBoldFont);
}
.faqsDropdown{
    height: 3.4rem;
    width: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 2.0rem;
}
.faqsListBox .row{
    margin-left: -2.1rem;
    margin-right: -2.1rem;
}
.faqsListBox .col-md-6{
    padding-left: 2.1rem;
    padding-right: 2.1rem;
}
.faqsListSection.activeDropdown .faqsQuestion{
    background: none;
    background: var(--colorWhite);
    color: var(--colorBlack3);
}
.faqsListSection.activeDropdown .faqsDropdown{
    background: var(--colorBlue2);
}
.faqsListSection .faqsDropdown img{
    transition: all 0.3s ease;
}
.faqsListSection.activeDropdown .faqsDropdown img{
    transform: rotate(180deg);
    transition: all 0.3s ease;
}
/* Faqs Section End */

/* Prime Customer Section Start */
.primeCustomers{
    padding: 18.0rem 0rem 17.0rem;
}
.primeCustHeading{
    margin-bottom: 13.0rem;
}
.primeCustHeading h2{
    font-family: var(--poppinsBoldFont);
    color: var(--colorBlue2);
}
.primeCustHeading h2 span{
    font-family: var(--poppinsMediumFont);
}
.clientSlide img{
    margin: 0 auto;
}
.primeCustSlider.slick-slider .slick-track{
    display: flex;
    align-items: center;
}
/* Prime Customer Section End */
/* Expressive UI Design Start */
.expressiveUiSection{
    background: var(--colorGrey3);
}
.expressiveUiBox{
    padding: 5.5rem 10.0rem 6.0rem;
}
.sectionHeading  h2{
    font-family: var(--poppinsRegularFont);
}
.expressiveUiSlider .expressiveUiLeft{
    display: inline-block;
    float: left;
    width: 60%;
    padding-right: 16.0rem;
}
.expressiveUiSlider .expressiveUiRight{
    float: left;
    width: 40%;
    display: inline-flex;
}
.expressiveDesignDetail a{
    text-decoration: underline;
    color: #0f22ff;
}
.expressiveUiRight span{
    display: inline-block;
    float: left;
    padding-right: 2.0rem;
}
.expressiveUiRight span:last-child{
    padding-right: 0rem;
}
.expressiveUiLeft .expressiveUiHeading{
    margin-bottom: 3.5rem;
    position: relative;
    font-family: var(--poppinsRegularFont);
}
.expressiveUiLeft .expressiveUiHeading h3{
    position: relative;
}
.expressiveUiLeft .expressiveDesignDetail{
    margin-bottom: 5.0rem;
    font-family: var(--poppinsLightFont);
}
.sectionHeading{
    margin-bottom: 3.0rem;
}
.expressiveUiSlide {
    display: flex;
    align-items: center;
}
.expressiveUiHeading .uiDesignCounter{
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    z-index: 0;
}
.expressiveUiHeading .uiDesignCounter:before{
    counter-increment: section;
    content: counter(section);
}
.uiDesignCounter{
    font-size: 24.0rem;
    line-height: 24.0rem;
    font-family: var(--interBoldFont);
    color: var(--colorWhite);
}
.expressiveUiSlider.slick-initialized .slick-slide{
    display: inline-flex;
}
.expressiveUiBox .sectionHeading{
    position: absolute;
    left: 0rem;
}
.expressiveUiSlider .slick-list{
    padding-top: 12.0rem;
}
.expressiveUiSlider .slick-dots li{
    height: 1.2rem;
    width: 1.2rem;
    border: 0.1rem solid var(--colorBlue);
    border-radius: 50%;
    margin: 0rem 0.3rem;
}
.expressiveUiSlider .slick-dots li button{
    height: 1.2rem;
    width: 1.2rem;
}
.expressiveUiSlider .slick-dots li button:before{
    content: '';
    height: 100%;
    width: 100%;
}
.expressiveUiSlider .slick-dots li.slick-active{
    background: var(--colorBlue);
}
.expressiveUiSlider .slick-dots{
    bottom: -15rem;
}
/* Expressive UI Design End */

/* Gallery Image Start */
.galleryImageSec{
    display: flex;
}
.galleryImageSec span:first-child,
.galleryImageSec span:last-child{
    width: 25%;
}
.galleryImageSec span:nth-child(2){
    width: 50%;
}
.galleryImageSec span{
    max-height: 42.2rem;
}
.galleryImageSec span img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallerySeeMore{
    padding: 5.0rem 0rem 14.4rem;
}
/* Gallery Image End */

/* Testimonial Slider Start */
.teatimonialInner{
    padding: 17.8rem 8rem 15.9rem;
}
.testimonialCard{
    padding: 2.9rem 4.5rem 2.9rem;
    box-shadow: 0rem 0rem 4.0rem 0rem rgba(0,0,0,0.12);
    border-radius: 1.0rem;
}
.testinmonialImage{
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2.0rem;
}
.testimonialCardTop{
    display: flex;
    align-items: center;
}
.testimonialBy{
    font-family: var(--montserratSemiboldFont);
    color: var(--colorGrey4);
}
.testimonialName{
    font-family: var(--montserratBoldFont);
    color: var(--colorBlack6);
}
.testimonialContent{
    font-family: var(--poppinsRegularFont);
    color: var(--colorBlack7);
    margin-top: 3.0rem;
    line-height: 2.6rem;
}
.testimonialSliderBox{
    /* padding-left: 5.0rem; */
    position: relative;
}
.testimonialVideo{
    box-shadow: 0rem 0rem 4.0rem 0rem rgba(0,0,0,0.12);
    min-height: 32.3rem;
}
.testimonialSlide .row{
    margin-left: -1.6rem;
    margin-right: -1.6rem;
}
.testimonialSlide .col-sm-6{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
.cardTestimonials{
    height: 100%;
}
.testimonialSlider.slick-initialized .slick-slide{
    padding: 4.0rem;
}
.testimonialSlider.slick-initialized .slick-prev,
.testimonialSlider.slick-initialized .slick-next{
    height: 4.0rem;
    width: 4.0rem;
    top: initial;
    bottom: -2rem;
    border: .1rem solid var(--colorBlack);
    border-radius: 0.3rem;
}
.testimonialSlider.slick-initialized .slick-prev{
    left: 35vw;
}
.testimonialSlider.slick-initialized .slick-next{
    right: 35vw;
}
.testimonialSlider.slick-initialized .slick-prev::before,
.testimonialSlider.slick-initialized .slick-next::before{
    height: 100%;
    width: 100%;
    font-family: 'Font Awesome 5 Free';
    color: var(--colorBlack);
    font-weight: 900;
}
.testimonialSlider.slick-initialized .slick-prev::before{
    content: '\f060';
}
.testimonialSlider.slick-initialized .slick-next::before{
    content: '\f061';
}
.testimonialSlider{
    padding-bottom: 5.0rem;
}
.testimonialHeading{
    position: relative;
}
.teatimonialInner{
    display: flex;
}
.testimonialHeading span{
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
    margin-top: 4.0rem;
    font-family: var(--poppinsRegularFont);
    color: var(--colorOrange);
    opacity: 0.4;
    position: absolute;
    left: 4.0rem;
}
.slidesCounter{
    position: absolute;
    bottom: -4.0rem;
    left: 5rem;
}
.slideCount{
    font-size: 4.0rem;
    font-family: var(--proximaRegularFont);
}
.slideCount .active{
    font-size: 12.0rem;
    line-height: 12.0rem;
}

/* Testimonial Slider End */

/* Home Page End */

/* Aboout Us Page Start */
.aboutBanner{
    background: url('../img/about/aboutBanner.png') no-repeat center center;
    background-size: cover;
    height: 68.4rem;
}
.aboutBanner h2{
    font-family: var(--poppinsBoldFont);
    color: var(--colorWhite);
}
.aboutBanner .bannerInner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68.4rem;
}
.aboutBanner .bannerInner div{
    justify-content: center;
}
.ourMissionVisionBox{
    padding: 6.5rem 5.0rem;
}
.ourMissionVisionSec{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.ourMissionVisionSec .sectionLeft{
    display: inline-block;
    float: left;
    width: 36%;
    padding-right: 4.0rem;
}
.ourMissionVisionSec .sectionRight{
    display: inline-block;
    float: left;
    width: 64%;
}
.ourMissionVisionSec .sectionLeft h2{
    color: var(--colorOrange);
    font-family: var(--poppinsBoldFont);
}
.ourMissionVisionSec .sectionRight p{
    font-family: var(--poppinsLightFont);
}
.ourMissionVisionBox .ourMissionVisionSec:not(:last-child){
    margin-bottom: 8.4rem;
}
.ourMissionVisionBox .ourMissionVisionSec:nth-child(even){
    flex-direction: row-reverse;
}
.ourMissionVisionSec:nth-child(even) .sectionLeft{
    padding-right: 0rem;
    padding-left: 4.0rem;
}
.ourMissionVisionSec:nth-child(even) .sectionRight p{
    text-align: right;
}
.coreValuesHeading h2{
    display: inline;
    position: relative;
    color: var(--colorOrange);
    font-family: var(--poppinsBoldFont);
    font-style: italic;

}
.coreValuesHeading h2::before{
    position: absolute;
    content: '';
    bottom: 0rem;
    right: 0rem;
    width: 81%;
    height: .1rem;
    background: var(--colorOrange);
}
.coreValuesSection {
    padding-left: 12.0rem;
    margin-block-start: 5.0rem;
}
.coreValueBox{
    display: inline-flex;
    width: 50%;
    padding-left: 5.0rem;
    margin-bottom: 5.0rem;
}
.coreValueBox .valueCount {
    font-family: var(--poppinsSemiboldFont);
    color: var(--colorGrey2);
    opacity: 50%;
    min-width: 9.5rem;
    text-align: center;
}
.coreValueDetail h4{
    font-family: var(--poppinsSemiboldFont);
    color: var(--colorGrey6);
    margin-bottom: 1.4rem;
}
.coreValueDetail span{
    font-family: var(--poppinsMediumFont);
    color: var(--colorGrey6);
    line-height: 2.43rem;
}
.coreValueDetail {
    margin-top: 1.0rem;
}
.coreValuesInner {
    padding: 5.0rem 0rem 8.0rem 5.0rem;
}
.whyusBoxs.ourPorcessBox .whyUsBox{
    padding: 1.7rem 2.4rem 4.0rem;
}
.whyusBoxs.ourPorcessBox .row {
    justify-content: center;
    margin-left: -1.6rem;
    margin-right: -1.6rem;
}
.whyusBoxs.ourPorcessBox .col-md-4 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
.ourProcessHeading h2{
    display: inline;
    color: var(--colorOrange);
    font-family: var(--poppinsMediumFont);
    border-bottom: .1rem solid var(--colorOrange);
    padding: 0rem 3rem;
}
.whyUsSection.ourPorcess{
    padding: 8.1rem 0rem 8.1rem;
}
.aboutUsSection{
    /* padding-top: 8.5rem; */
}
.aboutSecLeft .subHeading{
    font-family: var(--poppinsMediumFont);
    margin-bottom: 0.8rem;
} 
.aboutSecLeft .sectionHeading h2{
    font-family: var(--poppinsBoldFont);
    margin-bottom: 1.7rem;
    display: inline;
    position: relative;
}
.aboutSecLeft .sectionHeading h2::after{
    content: '';
    position: absolute;
    width: 54%;
    height: 0.1rem;
    background: var(--colorBlack);
    top: 50%;
    margin-left: 2.0rem;
}
.aboutSecLeft p{
    font-family: var(--poppinsLightFont);
    margin-bottom: 2.0rem;
}
.aboutSecLeft p:last-child{
    margin-bottom: 0rem;
}
.aboutSectionInnerBox{
    display: flex;
}
.aboutSectionInnerBox .aboutSecLeft{
    display: inline-block;
    float: left;
    width: 66%;
    padding-right: 5.0rem;
    margin-top: 2.0rem;
}
.aboutSectionInnerBox .aboutSecRight{
    display: inline-block;
    float: left;
    width: 34%;
}
.aboutUsSectionBox{
    padding: 8.5rem 7.0rem 0rem 9.8rem;
    width: 95%;
    float: right;
    box-shadow: -2.0rem 1.0rem 2.0rem 0rem rgba(0,0,0,0.07);
    position: relative;
    z-index: 9;
    background: var(--colorWhite);
    margin-top: -10.8rem;
    margin-bottom: -0.1rem;
}
.aboutUsSection{
    background: url('../img/about/aboutUsImg2.png') no-repeat center center;
    background-size: cover;
}
.yourIdeaInner{
    padding: 6.0rem 3.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yourIdeaLeft h3{
    text-align: right;
    color: var(--colorWhite);
    font-family: var(--poppinsSemiboldFont);
}
.yourIdeaSec{
    padding: 2.0rem 3.1rem;
    border-right: 0.2rem solid var(--colorWhite); 
}
.yourIdeaSec:last-child{
    border-right: none;
}
.yourIdeaRight .smallContent{
    line-height: 2.1rem;
    margin-bottom: 1.5rem;
}
.yourIdeaRight .smallContent{
    font-family: var(--poppinsRegularFont);
}
.yourIdeaRight .smallContent span{
    font-family: var(--poppinsSemiboldFont);
}
.yourIdeaRight .smallFont{
    letter-spacing: 0.045rem;
    font-family: var(--poppinsLightFont);
    margin-top: 1.0rem;
}
.appIdeaBox .mainHeading{
    font-family: var(--poppinsRegularFont);
}
.appIdeaBox .mainContent{
    font-family: var(--montserratLightFont);
}
.mutualBenefitsTop span,
.mutualBenefitsTop h2{
    font-family: var(--poppinsMediumFont);
    color: var(--colorOrange);
}
.mutualBenefitsTop h2{
    position: relative;
}
.mutualBenefitsTop h2::before{
    content: '';
    position: absolute;
    bottom: -0.8rem;
    height: .1rem;
    width: 46.0rem;
    background: var(--colorOrange);
    left: 0;
    right: 0;
    margin: 0 auto;
}
.mutualBenefits{
    padding: 10.3rem 0rem 20.0rem;
}
.mutualBenefitsTop{
    margin-bottom: 13rem;
}
.mutualBenefitBoxs .mutualBenefitLeft,
.mutualBenefitBoxs .mutualBenefitRight{
    display: inline-block;
    float: left;
    width: 50%;
}
.mutualBenefitBoxs .mutualBenefitLeft{
    padding-right: 5.0rem;
}
.mutualBenefitBoxs .mutualBenefitLeft .mutualBenefitBy{
    font-family: var(--poppinsSemiboldFont);
    margin-bottom: 1.2rem;
    position: relative;
}
.mutualBenefitBoxs .mutualBenefitLeft .mutualBenefitBy::before{
    position: absolute;
    content: '';
    font-size: 9.6rem;
    line-height: 9.6rem;
    font-family: var(--poppinsSemiboldFont);
    color: var(--colorGrey2);
    counter-increment: section;
    content: counter(section);
    opacity: 50%;
    bottom: -.5rem;
    left: -1.8rem;
    z-index: -1;
}
.mutualBenefitBoxs .mutualBenefitLeft .mutualBenefitText{
    font-family: var(--poppinsRegularFont);
}
.mutualBenefitFor{
    padding: 1.1rem 0.7rem;
    background: var(--colorWhite);
    box-shadow: 0rem 0rem 4.0rem 0rem rgba(0,0,0,0.12);
    border-radius: 1.0rem;
    height: 100%;
}
.mutualBenefitBoxs .mutualBenefitRight .mutualBenefitImg{
    height: 4.0rem;
}
.mutualBenefitBoxs .mutualBenefitRight .mutualBenefitList{
    font-family: var(--poppinsRegularFont);
    margin-top: 0.5rem;
}
.mutualBenefitBoxs .mutualBenefitRight .row{
    justify-content: center;
}
.mutualBenefitBoxs .mutualBenefitRight .col-md-4{
    margin-bottom: 2.0rem;
}
.mutualBenefitBoxs {
    margin-bottom: 15rem;
    display: flex;
    flex-wrap: wrap;
}
.mutualBenefitBoxs:last-child{
    margin-bottom: 0rem;
}
.mutualBenefitsSections{
    padding: 0rem 3.5rem;
}
.mutualBenefitBoxs .mutualBenefitLeft .mutualBenefitText{
    margin-bottom: 2.0rem;
}
.mutualBenefitBoxs .mutualBenefitLeft .mutualBenefitText:last-child{
    margin-bottom: 0;
}
.mutualBenefitsSections .mutualBenefitBoxs:nth-child(even){
    flex-direction: row-reverse;
}
.mutualBenefitsSections .mutualBenefitBoxs:nth-child(even) .mutualBenefitLeft{
    padding-left: 5.0rem;
    padding-right: 0rem;
}
.footerBox2{
    padding-top: 16.9rem;
}
/* Aboout Us Page End */
/* Out Team Page Start */
.leadershipTeam{
    padding: 8.0rem 0rem;
}
.teamBanner{
    background: url('../img/our-team/teamBanner.png') no-repeat center center;
    height: 56.1rem;
    background-size: cover;
}
.dreamTeam .mainHeading{
    font-family: var(--poppinsSemiboldFont);
}
.dreamTeam .mainContent{
    font-family: var(--montserratSemiboldFont);
}
.ourPeople .mainHeading{
    font-family: var(--poppinsBoldFont);
    font-style: italic;
    color: var(--colorOrange);
}
.ourPeople .mainContent{
    font-family: var(--poppinsLightFont);
    line-height: 2.9rem;
    color: var(--colorBlack);
}
.commonBox.ourPeople{
    background: var(--colorWhite);
}
.leadershipTeamBox .row{
    margin-left: -1.7rem;
    margin-right: -1.7rem;
}
.leadershipTeamBox .col-lg-3{
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    margin-top: 3.0rem;
}
.leadershipTeamCard{
    height: 36.3rem;
    /* border: 0.1rem solid #ccc; */
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    position: relative;
    border-radius: 0.4rem;
    overflow: hidden;
}
.leadershipTeamCard .cardPopup{
    position: absolute;
    background: var(--colorOrange2);
    padding: 2.8rem 1.8rem;
    bottom: -100%;
    transition: all 0.3s ease;
}
.leadershipTeamCard:hover .cardPopup{
    bottom: -.1rem;
    transition: all 0.3s ease;
}
.leadershipTeamCard .cardPopup .teamMemberName{
    font-family: var(--poppinsSemiboldFont);
}
.leadershipTeamCard .cardPopup .teamMemberRole{
    font-family: var(--poppinsRegularFont);
}
.leadershipTeamCard .cardPopup{
    display: flex;
    align-items: center;
}
.leadershipTeamCard .cardPopupRight{
    width: 10.0rem;
    margin-left: 1.0rem;
    text-align: right;
}
.leadershipTeamCard .cardPopupRight span{
    background: var(--colorWhite);
    display: inline-block;
    border-radius: 0.5rem;
    margin-right: 1.2rem;
}
.leadershipTeamCard .cardPopupRight span:last-child{
    margin-right: 0rem;
}
.leadershipTemTop{
    margin-bottom: 5.0rem;
}
.leadershipTemTop .mainHeading{
    font-family: var(--poppinsBoldFont);
    font-style: italic;
    color: var(--colorOrange);
    margin-bottom: 1.5rem;
}
.leadershipTemTop .mainContent{
    font-family: var(--poppinsLightFont);
}

/* Out Team Page ENd */